
.page-path-about-us .content img,
#about-us img
{
    position: absolute;
    top: 0;
    right: 40%;
    width: auto;
    height: 100%;
    margin-right: -15%;
    display: block;
    max-width: none;
    left:auto;
}

.page-path-about-us h3:first-of-type,
.page-path-about-us h2:nth-of-type(3),
.page-path-about-us h2:nth-of-type(3) + *,
.page-path-about-us h2:first-of-type,
#about-us h3:first-of-type,
#about-us h2:nth-of-type(3),
#about-us h2:nth-of-type(3) + *,
#about-us h2:first-of-type
{
    margin-left:50%;
    text-align: center;
}

.page-path-about-us h2:nth-of-type(3),
.page-path-about-us h2:nth-of-type(2),
.page-path-about-us h2:first-of-type,
.page-path-about-us h3:first-of-type,
#about-us h2:nth-of-type(3),
#about-us h2:nth-of-type(2),
#about-us h2:first-of-type,
#about-us h3:first-of-type
{
    margin-bottom:30px;
}

.page-path-about-us p:first-of-type,
.page-path-about-us h2:nth-of-type(2),
#about-us p:first-of-type,
#about-us h2:nth-of-type(2)
{
    margin-left:50%;
    text-align: center;
}

.page-path-about-us p:first-of-type,
#about-us p:first-of-type
{
    text-align: justify;
}

.page-path-about-us .pane-content,
#about-us .pane-content
{
    overflow: hidden;
}


@media all and (max-width:1442px)
{

    .page-path-about-us .content img,
    #about-us img
    {
        right:50%;
    }
}

@media all and (max-width:980px)
{

    .page-path-about-us .content img,
    #about-us img
    {
        display:none;
    }

    .page-path-about-us p:first-of-type,
    .page-path-about-us h2:nth-of-type(2),
    .page-path-about-us h3:first-of-type,
    .page-path-about-us h2:nth-of-type(3),
    .page-path-about-us h2:nth-of-type(3) + *,
    .page-path-about-us h2:first-of-type,
    #about-us p:first-of-type,
    #about-us h2:nth-of-type(2),
    #about-us h3:first-of-type,
    #about-us h2:nth-of-type(3),
    #about-us h2:nth-of-type(3) + *,
    #about-us h2:first-of-type
    {
        margin-left:0;
    }
}



