hr
{
    margin-top:20px;
}

.user-pane .user-name ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display:inline-block;
    float:right;
}

.user-pane .user-name span
{
    font-size: 16px;
    font-weight: normal;
    margin: 0 10px;
}

.user-pane .user-name
{
    position: fixed;
    top: 66px;
    z-index: 98;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    padding: 0 30px 0 250px;
}

.admin-menu .user-pane .user-name
{
    top:95px;
}

.user-pane .user-name h2
{
    display:inline-block;
}

.user-pane .user-name > div
{
    background: url("images/noise_gray.png") repeat scroll 0 0 #DDDDDD;
    border-bottom: 2px solid #555555;
    padding-top:5px;
}

.user-pane ul li
{
    list-style: none;
    margin: 0;
    padding: 0 20px;
    display:inline-block;
}

.user-pane > div > #goals,
.user-pane > div > #metrics,
.user-pane > div > #deadlines,
.user-pane > div > #uploads,
.user-pane > div > #plan
{
    padding-top:150px;
    min-height: 150px;
    margin-top:-150px;
}

.user-pane > div > #metrics
{
    margin-top:-90px;
}

.user-pane > div > #goals h2,
.user-pane > div > #metrics h2,
.user-pane > div > #deadlines h2,
.user-pane > div > #uploads h2,
.user-pane > div > #plan h2
{
    color:#555;
}

@media all and (max-width: 760px)
{
    .user-pane .user-name
    {
        padding-left: 20px;
        padding-right: 20px;
        top:56px;
    }

    .page-dashboard .page .panel-pane {
        padding-top: 56px !important;
    }

    .user-pane > div > #metrics
    {
        margin-top:-50px;
    }
}

@media all and (max-width: 480px)
{
    .user-pane .user-name
    {
        top:43px;
    }

    .page-dashboard .page .panel-pane {
        padding-top: 43px !important;
    }
}

