.page-dashboard .page .panel-pane
{
    padding-top:66px !important;
}

.page-dashboard.admin-menu .page .panel-pane
{
    padding-top:95px !important;
}

#site-name a strong
{
    color:#FF9900;
}

.page-dashboard .header-wrapper
{
    background-color:#555;
}

#site-name img
{
    width:48px;
    margin-top:-5px;
}

#site-name a
{
    margin-top:10px;
}

#welcome-message
{
    margin-top:15px;
}

#select-status span,
#userlist tr td:first-child span
{
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 3px solid #555555;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    line-height: 15px;
    margin: -3px 0;
    vertical-align: top;
    background-color:#33DD00;
}

#select-status span
{
    margin: 5px;
}

#select-status a[href="#yellow"] span,
#userlist tr.status_yellow td:first-child span
{
    background-color:#FFDD00;
}

#userlist th select
{
    border:2px solid #555;
    background:transparent;
    width:100%;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    background: url(images/menu_icons_32.png) no-repeat right -1440px transparent;
    cursor: pointer;
    font-weight: bold;
    color: #555;
    outline: none;
    padding: 5px 20px 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin:0;
    height: 40px;
}

#first-time-messages .highlighted-link
{
    text-align: right;
}

#userlist th.filtered select
{
    border:3px solid #FF9900;
}

#userlist table th,
#userlist table td,
#userlist th select
{
    font-size:18px;
    min-width: 100px;
}

#userlist td
{
    padding: 10px 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    table-layout: fixed;
}

#userlist td a
{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#userlist table
{
    table-layout: fixed;
}

#userlist table th
{
    background:transparent;
    position: relative;
    overflow: hidden;
}

#userlist th:after
{
    content: ".";
    display: block;
    position: absolute;
    pointer-events: none;
    cursor: pointer;
    height: 26px;
    background: url(images/menu_icons_32.png) no-repeat right -1440px #eee;
    right: 20px;
    width: 40px;
    top: 0;
    margin: 10px 0;
    padding: 5px;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
    border-right: 2px solid #555;
    font-size: 18px;
    font-weight: bold;
    color:transparent;
}

#userlist th.filtered:after
{
    border-top: 3px solid #FF9900;
    border-bottom: 3px solid #FF9900;
    border-right: 3px solid #FF9900;
    height: 24px;
}

#userlist th:nth-child(2),
#userlist td:nth-child(2),
#userlist th:nth-child(1),
#userlist td:nth-child(1)
{
    text-align: center;
    max-width: 15%;
}

#userlist th:nth-child(4),
#userlist td:nth-child(4)
{
    max-width: 25%;
}

#userlist th:nth-child(3),
#userlist td:nth-child(3)
{
    max-width: 25%;
}

#select-status a[href="#red"] span,
#userlist tr.status_red td:first-child span
{
    background-color:#FF1100;
}

#userlist tr.invite-only
{
    opacity: .75;
}

#userlist tr.invite-only td:first-child span
{
    background-color: transparent;
}

#select-status
{
    display: none;
    position: absolute;
    top: 0;
    left: 75px;
    background-color: white;
    border: 2px solid #555555;
}

#select-status a
{
    display:block;
}

@media all and (max-width:980px)
{
    #userlist table th:nth-child(5),
    #userlist table td:nth-child(5),
    #userlist table th:nth-child(4),
    #userlist table td:nth-child(4)
    {
        display:none;
    }
}

@media all and (max-width:759px)
{
    #site-name img
    {
        margin-top:0;
    }

    #site-name a
    {
        margin-top:0;
        font-size: 36px;
    }

    #userlist td
    {
        padding: 10px 10px;
    }
}


@media all and (max-width:480px)
{
    #userlist table th:nth-child(2),
    #userlist table td:nth-child(2)
    {
        display:none;
    }
}
