
.page-dashboard #goals #parent-sponsored .grid_8.connected
{
    width:auto;
    text-align: center;
    display:block;
}

.page-dashboard #goals #parent-sponsored h4,
.page-dashboard #goals .big-arrow
{
    clear:both;
    padding-right:128px;
    position:relative;
}

.page-dashboard #goals .big-arrow p
{
    position:relative;
}

.page-dashboard #goals .row
{
    clear:both;
    padding:5px 0 0 0;
}

.page-dashboard #goals #parent-sponsored .not-connected-only h4:after,
.page-dashboard #goals .big-arrow p:after
{
    display:block;
    content: " ";
    position:absolute;
    height:128px;
    width:128px;
    background:url("images/menu_icons_128.png") no-repeat scroll rgba(0, 0, 0, 0);
    background-position:0 -2176px;
    top:50%;
    margin-top:-64px;
    right:-10px;
}

.two-column-guide span.incentives
{
    background: url(images/menu_icons_48.png) no-repeat top left;
    background-position:0 -910px;
}

.page-dashboard #goals .big-arrow p:after
{
    right:-138px;
}

.page-dashboard #goals .transferred
{
    border:2px solid #007700;
    border-radius: 5px;
}

.page-dashboard #goals .field-name-field-type
{
    background:url("images/menu_icons_48.png") no-repeat scroll rgba(0, 0, 0, 0);
    background-position:10px -576px;
    height:24px;
    padding: 12px 10px 12px 68px;
    width:170px;
    margin-top:0;
}

.page-dashboard.student .sponsored #non-sponsored tr:first-child .field-name-field-type
{
    margin-top:0;
}

.page-dashboard #goals tr:nth-child(2) .field-name-field-type
{
    background-position:10px -624px;
}

.page-dashboard #goals tr:nth-child(3) .field-name-field-type
{
    background-position:10px -672px;
}

.page-dashboard #goals .vertical-tabs,
.page-dashboard #goals .grippie,
#fancybox-content .grippie
{
    display:none !important;
}

.page-dashboard #goals .mobile-only
{
    display:none;
}

/*
.page-dashboard #goals .field-name-field-type label,
.page-dashboard #goals .field-name-field-grade label
{
    margin:0;
    padding:0;
    border-width: 0px 0px 0px 0px;
    line-height: 0px;
    display:block;
    font-size:1px;
    height:0px;
    opacity: 0.1;
    transition:opacity 0.3s, height 0.3s, font-size 0.3s, line-height 0.3s, margin 0.3s, padding 0.3s, border-width 0.3s;
}

.page-dashboard #goals .field-name-field-type .form-type-radio,
.page-dashboard #goals .field-name-field-grade .form-type-radio
{
    line-height:0;
    font-size: 1px;
}

.page-dashboard #goals .field-name-field-type,
.page-dashboard #goals .field-name-field-grade
{
    overflow:hidden;
    transition:height 0.3s;
}

.page-dashboard #goals .field-name-field-grade:hover label
{
    margin:5px;
    padding:5px;
    border-width: 1px 1px 3px 1px;
    line-height: 26px;
    font-size:18px;
    height:26px;
    opacity: 1.0;
    transition:opacity 0.3s, height 0.3s, font-size 0.3s, line-height 0.3s, margin 0.3s, padding 0.3s, border-width 0.3s;
}

.page-dashboard #goals .field-name-field-grade:hover
{
    height:200px;
    transition:height 0.3s;
}

.page-dashboard #goals .field-name-field-type:hover .form-type-radio,
.page-dashboard #goals .field-name-field-grade:hover .form-type-radio
{
    display: block;
}

.page-dashboard #goals .field-name-field-grade:hover .form-radios
{
    min-width: 100%;
}
*/

.page-dashboard #goals .field-name-field-type,
.page-dashboard #goals .field-name-field-hours,
.page-dashboard #goals .field-name-field-gpa,
.page-dashboard #goals .field-name-field-grade,
.page-dashboard #goals .field-name-field-reward,
.page-dashboard #goals .row .form-actions
{
    display:inline-block;
    vertical-align: top;
}

.page-dashboard #goals .group-achievement .form-actions
{
    margin-top: 1em;
    display: block;
    clear:both;
}

.page-dashboard #goals .field-name-field-hours,
.page-dashboard #goals .field-name-field-gpa,
.page-dashboard #goals .field-name-field-grade,
.page-dashboard #goals .field-name-field-reward
{
    margin:0;
    width:27%;
}

.page-dashboard #goals .field-name-field-type,
.page-dashboard #goals .field-name-field-grade,
.page-dashboard #goals .field-name-field-hours,
.page-dashboard #goals .field-name-field-gpa,
.page-dashboard #goals .field-name-field-other,
.page-dashboard #goals .field-name-field-reward
{
    padding-top:12px;
}

.page-dashboard #goals .field-name-field-hours label,
.page-dashboard #goals .field-name-field-grade label,
.page-dashboard #goals .field-name-field-gpa label,
.page-dashboard #goals .field-name-field-reward label,
.page-dashboard.student .sponsored #non-sponsored tr:first-child .field-name-field-hours label,
.page-dashboard.student .sponsored #non-sponsored tr:first-child .field-name-field-grade label,
.page-dashboard.student .sponsored #non-sponsored tr:first-child .field-name-field-gpa label,
.page-dashboard.student .sponsored #non-sponsored tr:first-child .field-name-field-reward label,
.page-dashboard.parent .sponsored #parent-sponsored,
.page-dashboard #goals .field-name-field-read-only
{
    display:none;
}

.page-dashboard #non-sponsored tr:first-child .field-name-field-hours label,
.page-dashboard #non-sponsored tr:first-child .field-name-field-grade label,
.page-dashboard #non-sponsored tr:first-child .field-name-field-gpa label,
.page-dashboard #non-sponsored tr:first-child .field-name-field-reward label,
.page-dashboard.student .sponsored #parent-sponsored tr:first-child .field-name-field-hours label,
.page-dashboard.student .sponsored #parent-sponsored tr:first-child .field-name-field-grade label,
.page-dashboard.student .sponsored #parent-sponsored tr:first-child .field-name-field-gpa label,
.page-dashboard.student .sponsored #parent-sponsored tr:first-child .field-name-field-reward label
{
    display:block;
}

.page-dashboard.student .sponsored #parent-sponsored tr:first-child .field-name-field-type,
.page-dashboard #non-sponsored tr:first-child .field-name-field-type
{
    margin-top:20px;
}

.page-dashboard.student .sponsored #parent-sponsored tr:first-child .form-actions,
.page-dashboard #non-sponsored tr:first-child .form-actions
{
    margin-top:34px;
}

.page-dashboard #goals .field-name-field-other textarea,
.page-dashboard #goals .field-name-field-reward textarea
{
    height:60px;
}

.page-dashboard #goals .field-name-field-gpa .form-text
{
    max-width:50px;
}

.page-dashboard #goals .field-name-field-reward textarea
{
}

.page-dashboard #goals .form-checkboxes label,
.page-dashboard #goals .form-radios label
{
    background: #EEEEEE;
    font-weight: bold;
    border-style:solid;
    border-color:#EEEEEE;
    border-radius:5px;
    cursor: pointer;
}

.page-dashboard #goals  .field-name-field-grade .form-radios label:hover
{
    background: #DDDDDD;
    border-bottom:3px solid #BBBBBB;
}

#checklist input,
.page-dashboard #goals input.form-checkbox,
.page-dashboard #goals input.form-radio
{
    visibility:hidden;
}

.page-dashboard #goals .field-name-field-reward-codes,
.page-dashboard #goals .field-name-field-invite
{
    display:none;
}


.page-dashboard #goals input.form-checkbox:checked + label,
.page-dashboard #goals input.form-radio:checked + label
{
    margin:5px;
    padding:5px;
    line-height: 26px;
    height:26px;
    opacity: 1.0 !important;
    display:block;
    font-size:18px;
    transition:none;
}

.page-dashboard #goals .field-name-field-goals strong
{
    font-size:18px;
    font-weight:bold;
    display:inline-block;
    background: url("images/noise_gray.png") repeat scroll 0 0 #DDDDDD;
}

.page-dashboard #goals .field-name-field-grade input.form-radio:checked + label
{
    background: #CCCCCC;
    border-bottom:3px solid #AAAAAA;
}

.page-dashboard #goals .field-name-field-grade .form-radios label:active
{
    margin-top:7px !important;
    border-bottom-width:1px !important;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.5) inset;
    transition:none;
}

.page-dashboard #goals .field-name-field-grade .form-radios
{
    float:left;
}

.page-dashboard #goals .form-radios,
.page-dashboard #goals .description
{
    display:inline;
}

.page-dashboard #goals .description span:last-child
{
    display:none;
}

.page-dashboard #goals tr.odd .form-item,
.page-dashboard #goals tr.even .form-item
{
    white-space: normal;
}


.page-dashboard #goals table td,
.page-dashboard #goals table th
{
    padding:5px;
}

.page-dashboard #goals .field-name-field-grade .form-type-radio
{
    width:15%;
    min-width: 50px;
}

.page-dashboard #goals .field-name-field-grade .form-type-radio label
{
    text-align: center;
}

.page-dashboard #goals .field-name-field-grade .form-type-radio:first-child
{
    display:none;
}

.page-dashboard #goals .field-name-field-grade .form-type-radio:nth-child(5),
.page-dashboard #goals .field-name-field-grade .form-type-radio:nth-child(6),
.page-dashboard #goals .field-name-field-grade .form-type-radio:nth-child(7),
.page-dashboard #goals .field-name-field-grade .form-type-radio:nth-child(8),
.page-dashboard #goals .field-name-field-grade .form-type-radio:nth-child(9),
.page-dashboard #goals .field-name-field-grade .form-type-radio:nth-child(10)
{
    position:relative;
    left:0;
    margin-top: 0;
    transition:left 0.3s linear, margin-top 0.3s cubic-bezier(0.25,0.1,0.25,1);
}

.page-dashboard #goals .field-name-field-grade:hover .form-type-radio:nth-child(5)
{
    margin-top:-135px;
    left:30%;
    transition:left 0.3s linear, margin-top 0.3s cubic-bezier(0.25,0.1,0.25,1);
}

.page-dashboard #goals .field-name-field-grade:hover .form-type-radio:nth-child(6),
.page-dashboard #goals .field-name-field-grade:hover .form-type-radio:nth-child(7)
{
    left:30%;
    transition:left 0.3s linear;
}

.page-dashboard #goals .field-name-field-grade:hover .form-type-radio:nth-child(8)
{
    margin-top:-135px;
    left:60%;
    transition:left 0.3s linear, margin-top 0.3s cubic-bezier(0.25,0.1,0.25,1);
}

.page-dashboard #goals .field-name-field-grade:hover .form-type-radio:nth-child(9),
.page-dashboard #goals .field-name-field-grade:hover .form-type-radio:nth-child(10)
{
    left:60%;
    transition:left 0.3s linear;
}

.page-dashboard #goals #invite-sent a
{
    display:block;
    text-align: center;
}

.page-dashboard #goals .step_1 .field-add-more-submit,
.page-dashboard #goals .student_step_1,
.page-dashboard #goals .student_step_2,
.page-dashboard #goals .student_step_3,
.page-dashboard.student #goals .parents_only.student_step_1,
.page-dashboard.student #goals .parents_only.student_step_2,
.page-dashboard.student #goals .parents_only.student_step_3,
.page-dashboard.parent #goals .students_only.student_step_1,
.page-dashboard.parent #goals .students_only.student_step_2,
.page-dashboard.parent #goals .students_only.student_step_3
{
    display:none;
}

.page-dashboard #goals .step_1 .student_step_1,
.page-dashboard #goals .step_2 .student_step_2,
.page-dashboard #goals .step_3 .student_step_3,
.page-dashboard.student #goals .step_1 .students_only.student_step_1,
.page-dashboard.student #goals .step_2 .students_only.student_step_2,
.page-dashboard.student #goals .step_3 .students_only.student_step_3,
.page-dashboard.parent #goals .step_1 .parents_only.student_step_1,
.page-dashboard.parent #goals .step_2 .parents_only.student_step_2,
.page-dashboard.parent #goals .step_3 .parents_only.student_step_3
{
    display:block;
    clear:both;
}

/*.page-dashboard.student #goals .step_1 .field-name-field-reward,
.page-dashboard.student #goals .step_2 .field-name-field-reward*/
.page-dashboard #goals .step_2 .form-actions
{
    display:none;
}

.page-dashboard #goals #parent-sponsored .grid_8
{
    width:600px;
}

.page-dashboard.parent #goals .sponsored #non-sponsored .field-name-field-type,
.page-dashboard.student #goals .sponsored #parent-sponsored .field-name-field-type
{
    background-image:url(images/menu_icons_64.png);
    background-position: 0 -1866px;
}

.page-dashboard.parent #goals .sponsored #non-sponsored tr:nth-child(2) .field-name-field-type,
.page-dashboard.student #goals .sponsored #parent-sponsored tr:nth-child(2) .field-name-field-type
{
    background-position: 0 -1930px;
}

.page-dashboard.parent #goals .sponsored #non-sponsored tr:nth-child(3) .field-name-field-type,
.page-dashboard.student #goals .sponsored #parent-sponsored tr:nth-child(3) .field-name-field-type
{
    background-position: 0 -1994px;
}

.page-dashboard #goals #parent-sponsored p
{
    margin:0;
    line-height: 1px;
}

.page-dashboard #goals #parent-sponsored h4
{
    font-size:24px;
    color:#FFFFFF;
    text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.5);
    margin:40px 0 40px 40px;
}

/*
.page-dashboard.student #goals .step_1 .field-name-field-goals
{
    text-align: center;
    margin:0 auto -60px;
    width: 500px;
}
*/

.page-dashboard #parent-sponsored .webform-client-form-250,
.page-dashboard #parent-sponsored .webform-client-form-157
{
    float: right;
    margin-top:-75px;
    margin-bottom:-25px;
}

.page-dashboard.parent #goals #non-sponsored .field-name-field-goals
{
    margin:0 auto;
}

.page-dashboard #goals select
{
    margin:0px;
}

.page-dashboard #goals #invite .form-actions,
.page-dashboard #goals .form-actions
{
    margin:1em 0 0 1em;
    text-align: right;
}

.page-dashboard #goals #invite .form-actions
{
    float:right;
}

.page-dashboard.student .sponsored #non-sponsored tr:first-child .form-actions
{
    margin:1em 0 0 1em;
}

.page-dashboard #goals .goal-status
{
    text-align: center;
    margin: 0;
    min-width: 32%;
    clear:right;
    float:none;
    display:inline-block;
    white-space: nowrap;
}

.page-dashboard #goals .goal-status strong
{
    font-size:72px;
    display:block;
    line-height: 80px;
    color:#0099BE;
}

.page-dashboard #goals .site-name
{
    font-size:24px;
    padding:12px 0px 12px 80px;
    display:inline-block;
    background:url("images/menu_icons_128.png") no-repeat scroll rgba(0, 0, 0, 0);
    background-position:0 -1286px;
    background-size:80px auto;
    line-height: 44px;
    margin-bottom:10px;
    white-space: nowrap;
}

.page-dashboard #goals #student_step_1 .grid_6
{
    text-align: center;
}

.page-dashboard #goals #student_step_1 h3
{
    font-size: 32px;
    text-align: center;
}

.page-dashboard #goals #student_step_1 h3 span,
.page-dashboard #goals #student_step_1 h3 img
{
}

.page-dashboard #goals #student_step_1 p
{
    text-align: justify;
    margin:0;
}

.page-dashboard #student_step_2 .highlighted-link
{
    text-align: right;
}

.page-dashboard #student_step_2 .highlighted-link p
{
    text-align: justify;
    margin-bottom:50px;
}

.page-dashboard.parent #goals h3
{
    float:none;
    max-width: none;
    margin:15px 0 10px;
}

.page-dashboard #goals #achievements .grid_6
{
    width:420px !important;
}

.page-dashboard #goals #read-more-incentives
{
    display:none;
}

.plup-thumb-wrapper
{
    line-height: 0;
}

.group-achievement .field-name-field-reward-codes,
.node-incentive-form .group-achievement
{
    display:none;
}

.group-achievement .field-name-field-message,
.group-achievement .field-name-field-photo-evidence
{
    width:50%;
    float:left;
}

.plup-filelist
{
    border-top:0;
}

.plup-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.plup-list li
{
    padding:0;
    margin:0;
    border:0;
    background:none;
}

.plup-bar
{
    padding:0;
    height:auto;
    background:none;
}

#partner-plupload .plup-list li,
.group-achievement .plup-list li
{
    display:none;
}

#partner-plupload .plup-list li:last-child,
.group-achievement .plup-list li:last-child
{
    display:block;
}

#partner-plupload .plup-thumb-wrapper,
.group-achievement .plup-thumb-wrapper
{
    text-align: center;
}

#partner-plupload .plup-thumb-wrapper img,
.group-achievement .plup-thumb-wrapper img
{
    margin:0 auto;
}

#partner-plupload .plup-select,
.group-achievement .plup-select
{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    left:0;
    line-height: 0;
    color:transparent;
    font-size: 0;
}

#partner-plupload .plup-select
{
    top:-50px;
    padding-top:50px;
}

body.file-drag .group-achievement .plup-filelist
{
    z-index: 2000;
}

#partner-plupload .plup-remove-file,
#partner-plupload .plup-remove-item,
.group-achievement .plup-remove-file,
.group-achievement .plup-remove-item
{
    z-index: 100;
}

#partner-plupload .drag-main,
.group-achievement .drag-main
{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    padding:0;
    margin-top:-10px;
    color:#333333;
    text-shadow: 0 1px 4px rgba(255,255,255,1);
    text-align: center;
}

#partner-plupload .drag-main
{
    top:-50px;
}

#partner-plupload .drag-more,
#partner-plupload .plup-filelist-size,
#partner-plupload .plup-filelist-message,
#partner-plupload .plup-filelist-remove,
#partner-plupload .plup-select div,
.group-achievement .drag-more,
.group-achievement .plup-filelist-size,
.group-achievement .plup-filelist-message,
.group-achievement .plup-filelist-remove,
.group-achievement .plup-select div
{
    display:none;
}

#partner-plupload .plup-bar .plup-upload,
.group-achievement .plup-bar .plup-upload
{
    display:none !important;
}

#partner-plupload .plupload,
#partner-plupload .plupload-container,
.group-achievement .plupload,
.group-achievement .plupload-container
{
    min-height:200px;
}

#partner-plupload .plup-filelist-file,
.group-achievement .plup-filelist-file
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#partner-plupload .plup-filelist,
#partner-plupload .plupload.html5,
.group-achievement .plup-filelist,
.group-achievement .plupload.html5
{
    height: 100% !important;
    width: 100% !important;
    top:0 !important;
    left:0 !important;
    position:absolute !important;
    background:none;
    max-height: none !important;
}

.group-achievement textarea
{
    height:170px;
}

/*
.flip-clock-wrapper ul li a div .shadow
{
    display:none;
}

.flip-clock-wrapper ul.play li.flip-clock-before
{
    z-index:2;
}

.flip-clock-wrapper ul.play li.flip-clock-active
{
    z-index:3;
}
*/

#achievements .grid_3
{
    width:210px;
}

#achievements .grid_6,
#achievements .grid_3
{
    text-align: left;
    height: 232px;
    border: 3px solid transparent;
    margin:-3px !important;
    display:inline-block;
}

#achievements .grid_6.highlighted,
#achievements .grid_3.highlighted
{
    border: 3px solid #FF9900;
    border-radius:5px;
}

#achievements .grid_6 strong,
#achievements .grid_3 strong
{
    display:block;
    clear:both;
}

#achievements .grid_6 img,
#achievements .grid_3 img
{
    float:left;
    margin:5px;
}

#achievements .grid_6 img
{
}

#achievements .grid_6 p,
#achievements .grid_3 p
{
    min-height: 200px;
    border:1px solid #BBBBBB;
    border-radius: 5px;
    float:left;
    display:inline-block;
    width:200px;
    margin:4px;
}

.page-dashboard #goals .step_1 .read-only,
.page-dashboard #goals .step_2 .edit .read-only,
.page-dashboard #goals .step_3 .edit .read-only,
.page-dashboard #goals .step_2 .field-name-field-grade .form-item,
.page-dashboard #goals .step_3 .field-name-field-grade .form-item,
.page-dashboard #goals .step_2 .field-name-field-gpa .form-item,
.page-dashboard #goals .step_3 .field-name-field-gpa .form-item,
.page-dashboard #goals .step_2 .field-name-field-hours .form-item,
.page-dashboard #goals .step_3 .field-name-field-hours .form-item,
.page-dashboard #goals .step_2 .field-name-field-reward .form-item,
.page-dashboard #goals .step_3 .field-name-field-reward .form-item,
.page-dashboard #goals #parent-sponsored .form-actions .form-submit,
.page-dashboard #goals .row .highlighted-link a[href="#save-incentive"],
.page-dashboard #goals .row a[href="#cancel-incentive"]
{
    display:none;
}

.page-dashboard #goals .row .highlighted-link,
.page-dashboard #goals .step_2 .edit .field-name-field-grade .form-item,
.page-dashboard #goals .step_3 .edit .field-name-field-grade .form-item,
.page-dashboard #goals .step_2 .edit .field-name-field-gpa .form-item,
.page-dashboard #goals .step_3 .edit .field-name-field-gpa .form-item,
.page-dashboard #goals .step_2 .edit .field-name-field-hours .form-item,
.page-dashboard #goals .step_3 .edit .field-name-field-hours .form-item,
.page-dashboard #goals .step_2 .edit .field-name-field-reward .form-item,
.page-dashboard #goals .step_3 .edit .field-name-field-reward .form-item,
.page-dashboard #goals .step_1 td .form-actions .form-submit,
.page-dashboard #goals #parent-sponsored .edit .form-actions .form-submit,
.page-dashboard #goals .row.edit .highlighted-link a[href="#save-incentive"],
.page-dashboard #goals .row.edit a[href="#cancel-incentive"]
{
    display:inline-block;
}

.page-dashboard #goals .row.unsaved .fancy-close
{
    display:none;
}

.page-dashboard #goals .step_2 .read-only a,
.page-dashboard #goals .step_3 .read-only a
{
    display:inline-block;
    height:24px;
    width:24px;
    background: url(images/edit.png) no-repeat 50% 50% transparent;
    float:right;
}

.page-dashboard #parent-sponsored .with-arrow
{
    left:-15px;
    padding-left:15px;
    margin-top:10px;
}

.page-dashboard .webform-client-form-250,
.page-dashboard .webform-client-form-157
{
    border-radius: 4px;
    padding: 5px;
    position: relative;
}

.page-dashboard #parent-sponsored .webform-client-form .form-text
{
    width:100%;
}

.page-dashboard #student_step_2 .grid_5
{
    position: absolute;
    right: 20px;
    z-index: 20;
    margin:40px 10px;
}

@media all and (min-width: 1250px)
{
    .page-dashboard #goals .grid_6
    {
        width:380px;
        margin:0 10px;
        display:block !important;
    }
}

@media all and (max-width:1250px)
{
    .page-dashboard #goals .field-name-field-hours,
    .page-dashboard #goals .field-name-field-gpa,
    .page-dashboard #goals .field-name-field-grade,
    .page-dashboard #goals .field-name-field-reward
    {
        margin:0;
        width:31%;
    }

    .page-dashboard.student .sponsored #parent-sponsored tr:first-child .form-actions,
    .page-dashboard #goals .field-name-field-goals tr .form-actions
    {
        display:block;
        margin-top:1em;
        margin-left: 0;
    }

    .page-dashboard #goals #parent-sponsored .grid_8
    {
        width: 320px;
    }

    .page-dashboard #student_step_2 .highlighted-link
    {
        clear:both !important;
        position: static !important;
        width: auto !important;
        margin:0 20px !important
    }

    .page-dashboard .panel-flexible .header-wrapper .highlighted-link
    {
        margin-left:70px;
    }

    .page-dashboard.parent #goals #non-sponsored .field-name-field-goals
    {
        margin:0 auto;
    }
}

@media all and (min-width: 980px) and (max-width: 1250px)
{
    .page-dashboard #goals #parent-sponsored .not-connected-only h4,
    .page-dashboard #goals .big-arrow
    {
        padding-right:0;
    }

    .page-dashboard #goals #parent-sponsored .not-connected-only h4:after,
    .page-dashboard #goals .big-arrow p:after
    {
        display:none;
    }

    .page-dashboard #goals .grid_6
    {
        display:block !important;
    }
}

@media all and (max-width: 980px)
{


    .page-dashboard #goals .row
    {
        padding:40px 0 0 0;
    }

    .page-dashboard #goals .row:nth-child(2)
    {
        padding:20px 0 0 0;
    }

    .page-dashboard #goals .form-item .description span:first-child
    {
        display:none;
    }

    .page-dashboard #goals .full-only
    {
        display:none;
    }

    .page-dashboard #goals .mobile-only
    {
        display:block;
        margin-top:0;
        margin-bottom:12px;
    }

    .page-dashboard #goals .form-item .description span:last-child
    {
        display:inline;
    }

    .page-dashboard #goals #invite .form-actions,
    .page-dashboard #goals .form-actions
    {
        float:none;
        text-align: center;
        clear:both;
        margin-top:1em;
        margin-left: 0;
    }

    .page-dashboard.student .sponsored #non-sponsored tr:first-child .form-actions
    {
        margin-left: 0;
        margin-top:12px;
    }

    .page-dashboard #goals select
    {
        margin:0 5px;
    }

    .page-dashboard #goals #read-more-incentives
    {
        display:block;
        text-align: center;
        margin-top:20px;
    }

    .page-dashboard #goals #read-more-incentives h3
    {
        text-align: center;
    }

    .page-dashboard #goals #student_step_1 .grid_6,
    .page-dashboard #goals #read-more-incentives .grid_6
    {
        display:none;
    }

    .page-dashboard #goals #read-more-incentives .grid_6 h3,
    .page-dashboard #goals #read-more-incentives .grid_6 img
    {
        display:none;
    }

    .page-dashboard #goals #read-more-incentives .grid_6 p
    {
        text-align: left;
    }

    .page-dashboard #goals #parent-sponsored .grid_8
    {
        width: 200px;
    }

    .page-dashboard.student #goals .step_1 .field-name-field-goals
    {
        width: auto;
        margin-bottom:0;
    }

    .page-dashboard #goals #parent-sponsored .grid_8
    {
        width: 200px;
        display:inline-block;
        float:left;
    }

    .page-dashboard #goals #parent-sponsored .grid_4
    {
        margin: 0 auto;
        text-align: center;
        width: 200px;
    }

    .page-dashboard #goals #parent-sponsored h4
    {
        margin:20px 0;
    }

    .page-dashboard #parent-sponsored .webform-client-form-250,
    .page-dashboard #parent-sponsored .webform-client-form-157
    {
        margin:-20px 0;
        text-align: left;
    }

    .page-dashboard #goals #parent-sponsored h4,
    .page-dashboard #goals .big-arrow
    {
        padding-right:0;
    }

    .page-dashboard #goals #parent-sponsored .not-connected-only h4:after,
    .page-dashboard #goals .big-arrow p:after
    {
        display:none;
    }
}

@media all and (max-width: 980px)
{
    .page-dashboard #goals #achievements .grid_6
    {
        width:auto;
    }

    .page-dashboard.parent #goals .sponsored #non-sponsored .field-name-field-type,
    .page-dashboard.student #goals .sponsored #parent-sponsored .field-name-field-type
    {
        background-image:url(images/menu_icons_128.png);
        background-position: 50% -3712px;
    }

    .page-dashboard.parent #goals .sponsored #non-sponsored tr:nth-child(2) .field-name-field-type,
    .page-dashboard.student #goals .sponsored #parent-sponsored tr:nth-child(2) .field-name-field-type
    {
        background-position: 50% -3840px;
    }

    .page-dashboard.parent #goals .sponsored #non-sponsored tr:nth-child(3) .field-name-field-type,
    .page-dashboard.student #goals .sponsored #parent-sponsored tr:nth-child(3) .field-name-field-type
    {
        background-position: 50% -3968px;
    }

    .page-dashboard #student_step_2 .highlighted-link
    {
        text-align: center !important;
        clear:both !important;
        position: static !important;
        width: 400px !important;
        margin:0 20px !important
    }

    .page-dashboard #goals .field-name-field-type
    {
        background: url("images/menu_icons_64.png") no-repeat scroll transparent;
        text-align: center;
        padding:0 0 48px 0;
        height:48px;
        background-position:50% -736px;
        width: auto;
        display:block;
    }

    .page-dashboard #non-sponsored tr:first-child .field-name-field-type
    {
        margin-top:0;
    }

    .page-dashboard #goals .field-name-field-type strong
    {
        font-size: 28px;
        display: inline-block;
        white-space: nowrap;
        height: 32px;
    }

    .page-dashboard #goals tr:nth-child(2) .field-name-field-type
    {
        background-position:50% -800px;
    }

    .page-dashboard #goals tr:nth-child(3) .field-name-field-type
    {
        background-position:50% -864px;
    }

    .page-dashboard #student_step_2 .highlighted-link p
    {
        text-align: justify !important;
    }

    .page-dashboard #goals #student_step_1 p
    {
        text-align: left !important;
    }

    .page-dashboard #student_step_2 .highlighted-link
    {
        text-align: center !important;
        clear:both !important;
    }

    .page-dashboard #goals #parent-sponsored .grid_8
    {
        width:300px !important;
    }

    .page-dashboard #goals .field-name-field-goals strong
    {
        margin:0;
        padding:0;
    }

    .page-dashboard #goals .field-name-field-grade,
    .page-dashboard #goals .field-name-field-hours,
    .page-dashboard #goals .field-name-field-gpa,
    .page-dashboard #goals .field-name-field-other,
    .page-dashboard #goals .field-name-field-reward,
    .page-dashboard #goals .field-name-field-goals,
    .page-dashboard #goals .field-name-field-goals > div,
    .page-dashboard #goals .field-name-field-goals > div > div
    {
        display:block;
        width:auto;
        max-width: none;
        clear:both;
        text-align: left;
    }

    .page-dashboard #goals .field-name-field-grade label,
    .page-dashboard #goals .field-name-field-hours label,
    .page-dashboard #goals .field-name-field-gpa label,
    .page-dashboard #goals .field-name-field-other label,
    .page-dashboard #goals .field-name-field-reward label,
    .page-dashboard #goals .read-only label
    {
        display:inline-block !important;
        min-width:65px;
        text-align: right;
    }

    .page-dashboard #goals .field-name-field-reward .form-type-textarea label
    {
        margin-right:-75px;
        vertical-align: top;
    }

    .page-dashboard #goals .field-name-field-reward .form-textarea-wrapper
    {
        margin-left:80px;
        vertical-align: top;
        display:inline-block;
    }
}

@media all and (max-width: 480px)
{
    .page-dashboard #goals #achievements .grid_6
    {
        clear:both;
        width:auto !important;
        height: auto !important;
    }

    .page-dashboard #goals #parent-sponsored .grid_4
    {
        float:none !important;
    }

    .page-dashboard #goals #parent-sponsored .grid_8
    {
        width:auto !important;
    }

    .page-dashboard #goals .field-name-field-type
    {
        width:auto !important;
    }
}

