
html,
.page-dashboard
{
    background: #0099BE url(images/grunge.png) repeat fixed 0 0 !important;
    position:relative;
}

.page-dashboard #home h2
{
    font-size:32px;
    margin-bottom:40px;
}

.page-dashboard #home ol
{
    font-size: 20px;
    list-style-type: none;
    padding:0;
    margin:0;
}

.page-dashboard #home input[type="checkbox"]:checked,
.page-dashboard #home input[type="checkbox"]:checked + label,
.page-dashboard #home input[type="checkbox"]:checked + label a
{
    text-decoration:line-through;
    color: #33AA00;
}

.page-dashboard #home input[type="checkbox"] + label a
{
    color:#555555;
}

.page-dashboard #home input[type="checkbox"] + label a:hover
{
    color: #02cee8;
}

.page-dashboard #home input[type="checkbox"]
{
    position: relative;
    z-index:1;
    margin-left:-20px;
    visibility: hidden;
}

.page-dashboard #getting-started p
{
    margin-left:30px;
}

.page-dashboard #home ol label,
.page-dashboard #home #getting-started label
{
    display:inline;
    margin-left: -30px;
    padding-left: 30px;
    background: url('images/menu_icons_128.png') no-repeat -54px -2851px transparent;
    line-height: 26px;
    font-size:20px;
    font-weight: normal;
}

.page-dashboard #home #getting-started label
{
    font-size:28px;
    line-height: 38px;
    background-position: -54px -2846px;
}

.page-dashboard #home #getting-started input[type="checkbox"]:checked + label
{
    background-position: -54px -2734px;
}

.page-dashboard #home input[type="checkbox"]:checked + label
{
    background-position: -54px -2737px;
}

.page-dashboard #home li h4
{
    font-size: 22px;
    margin-top: 0;
    clear: both;
    background-color: #FF9900;
    padding: 5px;
    color:#ffffff;
    text-align: center;
}

.page-dashboard #home li:nth-child(2) h4
{
    background-color: #0099BE;
}

.page-dashboard #home li:nth-child(3) h4
{
    background-color: #555555;
}

.page-dashboard #home li
{
    display:inline-block;
    width:32%;
    vertical-align: top;
    border:3px solid #FF9900;
    border-radius: 5px;
    min-height: 480px;
}

.page-dashboard #home img
{
    margin-left:10%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

#getting-started
{
    display: inline-block;
    padding:40px;
    margin-right:10%;
    text-align: left;
    vertical-align: middle;
}

#getting-started h3
{
    border-bottom:1px solid #555;
    font-size:30px;
}

.page-dashboard #home li:nth-child(2)
{
    border:3px solid #0099BE;
}

.page-dashboard #home li:nth-child(3)
{
    border:3px solid #555555;
}

.page-dashboard #home li h4 span
{
    display: inline-block;
    float: left;
    font-size: 78px;
    font-style: italic;
    line-height: 85px;
    width: 60px;
    margin-top:-10px;
}

.page-dashboard #home li > p
{
    font-size: 20px;
    clear:right;
    text-align: left;
    margin: 10px;
}

.page-dashboard #home li > p:last-child
{
    margin-left: 40px;
    margin-right: 10px;
}

.page-dashboard #home li > h3
{
    margin: 10px;
}

.page-dashboard #parent_home,
.page-dashboard #student_home
{
    display:none;
}

.page-dashboard.parent #parent_home,
.page-dashboard.student #student_home
{
    display:block;
}

#study-quiz .webform-confirmation > .grid_6,
#study-quiz .highlighted-link
{
    text-align: right;
    margin:0;
}

#study-quiz .webform-confirmation > .grid_6
{
    width:50%;
}

#study-quiz .webform-confirmation > .retry-link
{
    text-align: left;
}

#study-quiz .webform-confirmation .mobile-only
{
    display:none;
}

#study-quiz a[href="#retry"]
{
    background:url(images/restart.png) no-repeat left top transparent;
    display:inline-block;
    font-size: 32px;
    padding-left:48px;
    min-height: 48px;
    padding-top:10px;
}

#study-quiz .form-radios
{
    margin-left:40px;
}

#study-quiz .form-radios input
{
    margin: 0 0 0 -13px;
    visibility: hidden;
}

#study-quiz .form-radios label.option
{
    display: inline;
    position: relative;
    z-index: 10;
    padding-left: 30px;
    background: url('images/menu_icons_128.png') no-repeat -54px -2851px transparent;
    line-height: 26px;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

#study-quiz .form-radios input:checked + label.option
{
    background-position: -54px -2737px;
}

.webform-confirmation .links
{
    display:none;
}

.webform-confirmation .grid_5.even
{
    float:left;
    clear:left;
}

.webform-confirmation .grid_5.right
{
    float:right;
    clear:right;
}

.webform-confirmation .grid_5
{
    margin: 0;
    padding: 0;
}

.webform-confirmation .quiz-wrapper
{
    position:relative;
    display:block;
}

.webform-confirmation .quiz-wrapper .grid_5.even
{
    border-color:#CCC;
    clear: left;
    float: left;
}

.webform-confirmation .quiz-wrapper .grid_5.right
{
    float:right;
    clear:right;
    background-color: #CCC;
    border-color:#CCC;
    box-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.webform-confirmation .quiz-wrapper .grid_5.even p,
.webform-confirmation .quiz-wrapper .grid_5.right p
{
    margin:0;
    padding-left: 30px;
}

.webform-confirmation .quiz-wrapper .grid_5.even p em,
.webform-confirmation .quiz-wrapper .grid_5.right p em
{
    margin-left: -30px;
    margin-right: 8px;
}

.webform-confirmation .quiz-wrapper .grid_5.even p:last-child
{
    margin-left:30px;
}

.webform-confirmation .quiz-wrapper .grid_5 .correct span,
.webform-confirmation .quiz-wrapper .grid_5 .incorrect span
{
    padding-left:30px;
}

.webform-confirmation .quiz-wrapper .grid_5 .correct
{
    background: url(correct.png) no-repeat bottom left;
    line-height: 24px;
    display:block;
}

.webform-confirmation .quiz-wrapper .grid_5 .incorrect
{
    background: url(wrong.png) no-repeat;
    line-height: 24px;
    display:block;
}

.webform-confirmation .quiz-wrapper .grid_5.even,
.webform-confirmation .quiz-wrapper .grid_5.right
{
    min-height:80px;
    display:inline-block;
    padding:5px 20px;
    border-width:0 4px;
    border-style: solid;
    margin:0;
    min-height: 85px;
}

.webform-confirmation .quiz-wrapper:nth-child(3) .grid_5.even,
.webform-confirmation .quiz-wrapper:nth-child(3) .grid_5.right
{
    min-height:170px;
}

.webform-confirmation .quiz-wrapper:nth-child(4) .grid_5.even,
.webform-confirmation .quiz-wrapper:nth-child(4) .grid_5.right
{
    min-height:105px;
}

.webform-confirmation .quiz-wrapper:nth-child(5) .grid_5.even,
.webform-confirmation .quiz-wrapper:nth-child(5) .grid_5.right
{
    min-height:120px;
}

.webform-confirmation .quiz-wrapper:nth-child(6) .grid_5.even,
.webform-confirmation .quiz-wrapper:nth-child(6) .grid_5.right
{
    min-height:130px;
}

.webform-confirmation .quiz-wrapper .grid_5.first
{
    border-width: 4px 4px 0;
    border-radius: 8px 8px 0 0;
}

.webform-confirmation .quiz-wrapper .grid_5.last
{
    border-width: 0 4px 4px;
    border-radius: 0 0 8px 8px;
}

.webform-confirmation em strong
{
    font-size:24px;
    color:#FF9900;
    font-weight: bold;
    margin:4px;
}

.webform-confirmation h3
{
    margin-bottom:20px;
}

@media all and (max-width: 1250px)
{
    #getting-started
    {
        width:auto;
        margin: 0 auto;
    }

    .page-dashboard #home img
    {
        width:auto;
        margin: 0 auto;
    }

    .page-dashboard #home #student_home
    {
        text-align: center;
    }

}

@media all and (max-width: 980px)
{
    .webform-confirmation .quiz-wrapper
    {
        clear:both;
    }

    .webform-confirmation .quiz-wrapper .grid_5
    {
        margin-top:0 !important;
        display:block !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        float:none !important;
        width:auto !important;
    }

    #study-quiz .webform-confirmation .mobile-only
    {
        display:block;
    }

    #study-quiz .webform-confirmation .full-only
    {
        display:none;
    }

    .webform-confirmation .quiz-wrapper .grid_5.even.last,
    .webform-confirmation .quiz-wrapper .grid_5.right.first
    {
        border-radius:0px;
    }

    .webform-confirmation div:first-child .grid_5.right
    {
        clear:both;
    }

    #study-quiz .webform-confirmation > .grid_6,
    #study-quiz .highlighted-link
    {
        text-align: center;
        width: auto;
    }

    .page-dashboard #invite h3,
    .page-dashboard #invite .like-us
    {
        margin-right:0 !important;
    }

    .page-dashboard.student #home li
    {
        width:auto;
        height:auto;
        min-height: 0;
        margin:10px 0;
    }
}

@media all and (max-width: 759px)
{
    #getting-started
    {
        padding:0;
    }

    .page-dashboard #home #getting-started label
    {
        font-size: 20px;
        line-height: 26px;
        background-position: -54px -2851px;
    }

    .page-dashboard #home #getting-started input[type="checkbox"]:checked + label
    {
        background-position: -54px -2736px;
    }

    #getting-started h3
    {
        font-size: 22px;
    }
}