
.page-dashboard #invite h3
{
    text-align: center;
}

.page-dashboard #invite .like-us
{
    text-align: center;
}

.page-dashboard #invite .highlighted-link
{
    text-align: right;
}

.page-dashboard .invite-form
{
    max-width: 600px;
    font-size: 20px;
    margin:0 auto;
}

