
.page-dashboard #dates .head
{
    background-color:#555555;
    color: #eeeeee;
    margin-top:30px;
    padding:5px;
    clear:both;
}

.page-dashboard #dates .field-name-field-reminders .row
{
    position: relative;
    vertical-align: top;
    clear:both;
}

.page-dashboard #dates .field-name-field-reminders .row.is_hidden
{
    display:none !important;
}

.page-dashboard #dates .node-key_dates-form
{
    min-height: 450px;
}

.page-dashboard #dates .field-name-field-class-name
.page-dashboard #dates .field-name-field-assignment,
.page-dashboard #dates .field-name-field-due-date,
.page-dashboard #dates .field-name-field-reminder,
.page-dashboard #dates .field-name-field-percent
{
    vertical-align: top;
    display:block;
}

.page-dashboard #dates .field-name-field-class-name .read-only
{
    width: 130px;
    padding:5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    height:22px;
}

.page-dashboard #dates .field-name-field-assignment .read-only a
{
    display:block;
}

.page-dashboard #dates .field-name-field-assignment .read-only
{
    width: 320px;
    padding:5px 0;
}

.page-dashboard #dates .field-name-field-percent .read-only
{
    width:100px;
    padding:5px 0;
}

.page-dashboard #dates .field-name-field-reminder .read-only
{
    width:350px;
    padding:5px 0;
}

.page-dashboard #dates .field-name-field-completed .read-only
{
    width:50px;
    padding:5px 0;
    position: absolute;
    top:0;
    right:0;
    text-align: right;
    z-index:2;
}

.page-dashboard .field-name-field-reminders a[href="#edit-reminder"]
{
    display:inline-block;
    height:24px;
    width:24px;
    background: url(images/edit.png) no-repeat 50% 50% transparent;
}

.page-dashboard .field-name-field-reminders a[href="#remove-reminder"]
{
    display:inline-block;
    height:24px;
    width:24px;
    background: url(images/trash.png) no-repeat 50% 50% transparent;
}

.page-dashboard #dates .field-name-field-class-name .form-type-select,
.page-dashboard #dates .field-name-field-assignment .form-type-textfield,
.page-dashboard #dates .field-name-field-percent .form-type-textfield,
.page-dashboard #dates .field-name-field-due-date fieldset,
.page-dashboard #dates .row .highlighted-link,
.page-dashboard #dates .field-name-field-reminder .form-type-checkboxes,
.page-dashboard #dates .field-name-field-reminder-sent,
.page-dashboard #dates .field-name-field-completed .form-type-checkbox

{
    display:none;
}

.page-dashboard #dates .field-name-field-class-name,
.page-dashboard #dates .field-name-field-assignment,
.page-dashboard #dates .field-name-field-due-date,
.page-dashboard #dates .field-name-field-reminder,
.page-dashboard #dates .field-name-field-percent,
.page-dashboard #dates .field-name-field-completed
{
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
}

.page-dashboard #dates .field-name-field-reminder
{
    padding:0;
}

.page-dashboard #dates .field-name-field-class-name
{
    padding-left:0;
}

.page-dashboard #dates .field-name-field-reminders label:not(.option)
{
    display:none;
}

.page-dashboard #dates .head:nth-child(2)
{
    margin-top:0;
}

.page-dashboard #dates .field-name-field-reminders .row.first:nth-child(2) label:not(.option)
{
    display:block;
}

.page-dashboard #dates .field-name-field-reminder label:not(.option)
{
    padding-left:10px;
}

.page-dashboard #dates .field-name-field-reminders .row.first:nth-child(3) label:not(.option)
{
    margin-top:-22px;
    position:relative;
    top:-40px;
    display:block;
}

.page-dashboard #dates .field-name-field-class-name .form-type-select
{
    width:130px;
}

.page-dashboard #dates .field-name-field-class-name .form-type-select select
{
    width:100%;
}

.page-dashboard #dates .row.first:nth-child(2).edit .field-name-field-class-name .form-type-select
{
    margin-top:32px;
}

.page-dashboard #dates .row.first:nth-child(2) .field-name-field-class-name .read-only
{
    margin-top: 22px;
}

.page-dashboard #dates .field-name-field-assignment .form-type-textfield
{
    width:320px;
}

.page-dashboard #dates .field-name-field-due-date fieldset
{
    width:100px;
}

.page-dashboard #dates .field-name-field-reminder .form-type-checkboxes
{
    width:250px;
}

.page-dashboard #dates .field-name-field-percent .form-type-textfield
{
    width:85px;
}

.page-dashboard #dates .field-name-field-percent input
{
    width: 50px;
}

.page-dashboard #dates .edit .field-name-field-class-name .read-only,
.page-dashboard #dates .edit .field-name-field-percent .read-only,
.page-dashboard #dates .edit .field-name-field-assignment .read-only,
.page-dashboard #dates .edit .field-name-field-reminder .read-only
{
    display:none;
}

.page-dashboard #dates .edit .field-name-field-class-name .form-type-select,
.page-dashboard #dates .edit .field-name-field-assignment .form-type-textfield,
.page-dashboard #dates .edit .field-name-field-percent .form-type-textfield,
.page-dashboard #dates .edit .field-name-field-due-date fieldset,
.page-dashboard #dates .row.edit .highlighted-link,
.page-dashboard #dates .edit .field-name-field-reminder .form-type-checkboxes,
.page-dashboard #dates .edit .field-name-field-reminder .form-checkboxes
{
    display:block;
}

.page-dashboard #dates .edit .field-name-field-completed .read-only
{
    display:none;
}

.page-dashboard #dates .field-name-field-reminders input[type="submit"]
{
    display:none;
}

.page-dashboard #dates .field-name-field-class-name .read-only span
{
    display:inline-block;
    height: 22px;
    width: 22px;
    border:3px solid #555555;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    line-height: 15px;
    margin:-3px 10px 0 0;
    vertical-align: top;
}

.page-dashboard #dates .class0
{
    background-color:#FF0D00;
}

.page-dashboard #dates .class1
{
    background-color:#FF9900;
}

.page-dashboard #dates .class2
{
    background-color:#FFD700;
}

.page-dashboard #dates .class3
{
    background-color:#BAF300;
}

.page-dashboard #dates .class4
{
    background-color:#2DD700;
}

.page-dashboard #dates .class5
{
    background-color:#009999;
}

.page-dashboard #dates .class6
{
    background-color:#162EAE;
}

.page-dashboard #dates .class7
{
    background-color:#6A0AAB;
}

.page-dashboard #dates .class8
{
    background-color:#BE008A;
}

.page-dashboard #dates .field-name-field-due-date .description,
.page-dashboard #dates .field-name-field-due-date legend
{
    display:none;
}

.page-dashboard #dates .field-name-field-due-date .date-padding,
.page-dashboard #dates .field-name-field-due-date fieldset
{
    padding:0;
    margin:0;
    border:0;
    min-width: 0;
    float:none;
}

.page-dashboard .field-name-field-reminders table td
{
    padding:5px;
}

.page-dashboard .field-name-field-reminders .field-add-more-submit
{
    position: relative;
    z-index: 0;
    padding:10px 0;
    text-shadow: 0 1px 2px rgba(255,255,255,.5);
    background: url("images/noise_gray.png") repeat scroll 0 0 #DDDDDD;
    border-bottom: 0;
    color:#555555;
    font-size:22px;
    margin:0;
}

.page-dashboard .field-name-field-reminders .field-add-more-submit:active
{
    /*margin-top: 2px;*/
    box-shadow: none;
}

.page-dashboard .field-name-field-reminders .field-add-more-submit span
{
    margin: 0 10px -8px 0;
    background: url("images/menu_icons_48.png") no-repeat scroll 0 -1728px #FFFFFF;
    line-height: 100%;
    border-radius: 100%;
    display:inline-block;
    height: 48px;
    width: 48px;
    position: relative;
    z-index: 1;
    top:-8px;
    color:transparent;
    float:left;
}

.page-dashboard .field-name-field-reminders .field-add-more-submit:active span
{
    border-bottom-width:1px;
}

.page-dashboard #dates .node-key_dates-form .form-actions
{
    text-align: right;
    float:right;
    display:none;
}

.page-dashboard .field-name-field-reminder input
{
    z-index: -1;
}

.page-dashboard .field-name-field-reminder .read-only span,
.page-dashboard .field-name-field-reminder label.option
{
    display:inline-block;
    padding:28px 0 0 0;
    position: relative;
    z-index:1;
    background: url("images/noise_gray.png") repeat scroll 0 0 #DDDDDD;
    font-size: 14px;
    width:50px;
    text-align: center;
}

.page-dashboard .field-name-field-reminder label.option
{
    cursor: pointer;
    margin-top:-20px;
    display:block;
    float:left;
}

.page-dashboard .field-name-field-reminder .read-only span:before,
.page-dashboard .field-name-field-reminder label.option:before
{
    display:block;
    content: " ";
    height: 24px;
    width: 24px;
    top:0;
    left:50%;
    background:url('images/menu_icons_128.png') no-repeat -54px -2854px transparent;
    z-index:1;
    position:absolute;
    margin-left:-12px;
}

.page-dashboard .field-name-field-reminder .read-only span.checked:before,
.page-dashboard .field-name-field-reminder input:checked + label.option:before
{
    background-position: -54px -2741px;
}

.page-dashboard .field-name-field-reminders .clearfix:first-child
{
    text-align: left;
    padding-top:15px;
    padding-bottom:15px;
}

.page-dashboard .field-name-field-reminders .invalid .more
{
    background-color: #aaaaaa;
    border-color: #888888;
    margin-top: 0;
    border-bottom-width: 3px;
    box-shadow: none;
}

.page-dashboard .field-name-field-reminder input
{
    margin-bottom:-20px;
    cursor: pointer;
}

.page-dashboard .field-name-field-reminder .form-type-checkbox
{
    display: inline-block;
    text-align: center;
    float:left;
    width:50px;
}

.page-dashboard .big-plus
{
    display:block;
    position:absolute;
}

.page-dashboard #dates .highlighted-link
{
    float:right;
    text-align: right;
}

@media all and (min-width:980px) and (max-width: 1250px)
{

    .page-dashboard .field-name-field-reminder .read-only span
    {
        width:46px
    }

    .page-dashboard .field-name-field-reminder .form-type-checkbox,
    .page-dashboard .field-name-field-reminder label.option
    {
        width: 44px;
    }

    .page-dashboard #dates .field-name-field-reminder .form-type-checkboxes
    {
        width: 220px;
    }

    .page-dashboard #dates .field-name-field-reminder .read-only
    {
        width: 230px;
    }

    .page-dashboard #dates .field-name-field-assignment .read-only
    {
        width: 200px;
    }

    .page-dashboard #dates .field-name-field-assignment .form-type-textfield
    {
        width:160px;
    }

    .page-dashboard #dates .field-name-field-class-name .form-type-select
    {
        width:100px;
    }
}

@media all and (min-width:980px)
{
    .page-dashboard #dates .field-name-field-assignment a
    {
        color: #666666;
        cursor: default;
    }
}

@media all and (max-width:980px)
{
    .page-dashboard #dates .field-name-field-reminder .read-only
    {
        margin:0 auto;
        text-align: center;
    }

    .page-dashboard #dates .head:nth-child(2)
    {
        margin-top: 0;
    }

    .page-dashboard .field-name-field-reminders .clearfix:first-child
    {
        text-align: center;
    }

    .page-dashboard .field-name-field-reminders .field-add-more-submit span
    {
        position:relative;
        float:none;
        top:-14px;
        margin: 0 10px -10px 10px;
    }

    .page-dashboard #dates .field-name-field-reminders .read-only label
    {
        display:none !important;
    }

    .page-dashboard #dates .field-name-field-reminders label:not(.option)
    {
        display:block;
    }

    .page-dashboard #dates .field-name-field-class-name .read-only
    {
        position:absolute;
        color:#0099be;
        z-index:0;
    }

    .page-dashboard #dates .field-name-field-assignment .read-only
    {
        width:auto;
        padding:5px 45px 5px 140px;
        color:#0099be;
        cursor:pointer;
        position:relative;
        z-index:1;
    }

    .page-dashboard #dates .field-name-field-percent .read-only
    {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        color:#0099be;
        z-index:0;
    }

    .page-dashboard #dates .field-name-field-completed .read-only
    {
        top:32px;
    }

    .page-dashboard #dates .field-name-field-reminder .read-only
    {
        width:auto;
    }

    .page-dashboard #dates .row.first:nth-child(2).edit .field-name-field-class-name .form-type-select,
    .page-dashboard #dates .row.first:nth-child(2) .field-name-field-class-name .read-only
    {
        margin-top: 0;
    }

    .page-dashboard #dates .field-name-field-reminders .row.first:nth-child(3) label:not(.option)
    {
        position: static;
        margin-top:0;
        top: 0;
    }

    .page-dashboard #dates .highlighted-link
    {
        float:none;
        text-align: center;
    }

    .page-dashboard #dates .field-name-field-class-name,
    .page-dashboard #dates .field-name-field-assignment,
    .page-dashboard #dates .field-name-field-due-date,
    .page-dashboard #dates .field-name-field-reminder,
    .page-dashboard #dates .field-name-field-percent,
    .page-dashboard #dates .field-name-field-completed
    {
        display:block;
        vertical-align: top;
        width: auto;
        clear:both;
        padding:0;
    }

    .page-dashboard #dates .field-name-field-reminder .form-checkboxes,
    .page-dashboard #dates .field-name-field-reminder .read-only,
    .page-dashboard #dates .field-name-field-completed .form-type-checkbox,
    .page-dashboard #dates .field-name-field-completed .read-only
    {
        display:none;
    }

    .page-dashboard #dates .selected .field-name-field-reminder .form-checkboxes,
    .page-dashboard #dates .selected .field-name-field-reminder .read-only,
    .page-dashboard #dates .selected .field-name-field-completed .read-only
    {
        display:block;
    }

    .page-dashboard #dates .edit .field-name-field-reminder .read-only,
    .page-dashboard #dates .edit .field-name-field-completed .read-only
    {
        display:none;
    }

    .page-dashboard #dates .field-name-field-percent .form-type-textfield,
    .page-dashboard #dates .field-name-field-reminder .form-type-checkboxes,
    .page-dashboard #dates .field-name-field-assignment .form-type-textfield,
    .page-dashboard #dates .field-name-field-class-name .form-type-select,
    .page-dashboard #dates .field-name-field-due-date fieldset
    {
        width: auto;
    }

    .page-dashboard .field-name-field-reminders table td
    {
        padding:40px 0 0 0;
    }

    .page-dashboard .field-name-field-reminders table tr:first-child td
    {
        padding:20px 0 0 0;
    }

}

@media all and (max-width:480px)
{
    .page-dashboard .field-name-field-reminder .read-only span
    {
        width:42px;
    }

    .page-dashboard #dates .field-name-field-reminder .read-only
    {
        text-align: left;
    }
}
