
.page-dashboard #plan .pane-content > h2
{
    margin-bottom:-28px;
}

.page-dashboard #plan #calendar
{
    max-height:500px;
}

.page-dashboard #plan .fc-event
{
    border:none;
    background-color: #eeeeee;
}

.page-dashboard #plan .fc-event-title h4
{
    margin:0;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.page-dashboard #plan .fc-agenda-axis
{
    line-height: 13px;
}

.page-dashboard #plan .fc-agenda-slots td div
{
    height:10px;
    line-height: 10px;
}

.page-dashboard #plan .class-event,
.page-dashboard #plan .other-event
{
    border: 3px solid #555555;
}

.page-dashboard #plan .holiday-event,
.page-dashboard #plan .free-event,
.page-dashboard #plan .other-event
{
    color:#555555;
}

.page-dashboard #plan .drag-event
{
    background-color:#EEEEEE;
}

.page-dashboard #plan .free-event .fc-event-title small
{
    display:none;
}

.page-dashboard #plan .row.deadline
{
    background: url('images/menu_icons_32.png') no-repeat left -1314px transparent;
}

.page-dashboard #plan .head.hide,
.page-dashboard #plan .row.hide
{
    display:none;
}

.page-dashboard #plan .row .class-name
{
    display: inline-block;
    width: 275px;
    padding: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 22px;
    vertical-align: top;
}

.page-dashboard #plan .row .class-date
{
    white-space: nowrap;
    display:inline-block;
    width: 175px;
    padding: 5px 0;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.page-dashboard #plan .row .class-time
{
    white-space: nowrap;
    display:inline-block;
    width: 175px;
    padding: 5px 0;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.page-dashboard #plan .mini-checkin .flip-clock-wrapper
{
    box-sizing: border-box;
    width: auto;
}

.page-dashboard #plan .mini-checkin
{
    float:right;
    text-align: center;
    display:none;
}

.page-dashboard #plan .selected .mini-checkin
{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: 200px;
}

.page-dashboard #plan .flip-clock-wrapper ul li a div div.inn
{
    font-size: 30px;
}

.page-dashboard #plan .flip-clock-wrapper ul
{
    height: 40px;
    width: 25px;
    line-height: 40px;
    margin: 2px;
}

.page-dashboard #plan .flip-clock-divider
{
    height: 50px;
    width: 15px;
}

.page-dashboard #plan .flip-clock-dot.bottom,
.page-dashboard #plan .flip-clock-dot.top
{
    left:2px;
}

.page-dashboard #plan .strategy-teach,
.page-dashboard #plan .strategy-active,
.page-dashboard #plan .strategy-spaced,
.page-dashboard #plan .strategy-other-notes,
.page-dashboard #plan .field-select-strategy
{
    margin:0 auto;
    max-width: 800px;
    display:none;
    padding-right: 200px;
    box-sizing: border-box;
}

.page-dashboard #plan .selected .strategy-other-notes
{
    display:block;
}

.page-dashboard #plan .selected .field-select-strategy > div
{
    border-bottom:3px solid #555555;
    padding-bottom: 10px;
}

.page-dashboard #plan .selected .field-select-strategy
{
    display:block;
    margin-top:30px;
}

.page-dashboard #plan .strategy-upload
{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    vertical-align: top;
}

.page-dashboard #plan .strategy-spaced-notes textarea,
.page-dashboard #plan .strategy-notes textarea
{
    min-height:100px;
}

.page-dashboard #plan .strategy-notes input
{
    width: 100%;
    box-sizing: border-box;
}

.page-dashboard #plan .strategy-notes
{
    display: inline-block;
    width: 66%;
    box-sizing: border-box;
    vertical-align: top;
}

.page-dashboard #plan .strategy-spaced-notes
{
    display: inline-block;
    width: 66%;
    box-sizing: border-box;
    vertical-align: top;
}

.page-dashboard #plan .strategy-review
{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    vertical-align: top;
}

.page-dashboard #plan .strategy-spaced-notes label:first-child,
.page-dashboard #plan .strategy-review label:first-child
{
    font-size: 20px;
    margin-top:20px;
    margin-bottom:10px;
    color: #555555;
    text-align: left;
}

.page-dashboard #plan .strategy-review input[type="checkbox"]
{
    position: relative;
    z-index: 1;
    margin-left: 10px;
    visibility: hidden;
}

.page-dashboard #plan .strategy-review label:not(:first-child)
{
    display: inline;
    position: relative;
    z-index: 10;
    padding-left: 25px;
    background: url('images/menu_icons_128.png') no-repeat -54px -2848px transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.page-dashboard #plan .strategy-review input:checked + label
{
    background-position: -54px -2734px;
}

.page-dashboard #plan .strategy-upload
{
    padding:10px;
    position: relative;
}

.page-dashboard #plan a[href="#strategy-upload"] span
{
    display:block;
    position: absolute;
    top:30px;
    margin-top:-12px;
    text-align: center;
    width: 100%;
    margin-left:-10px;
}

.page-dashboard #plan a[href="#strategy-upload"] img
{
    width: 100%;
    height:auto;
    border-radius: 5px;
    border:3px solid #555555;
}

.page-dashboard #plan .field-select-strategy label
{
    display:inline;
    font-size: 20px;
}

.page-dashboard #plan .field-select-strategy select
{
    float:right;
}

.page-dashboard #plan .fc-agenda-slots tr.fc-minor th,
.page-dashboard #plan .fc-agenda-slots tr.fc-minor td
{
    border-top-style: none;
}

.page-dashboard #plan .fc-event-vert .fc-event-bg
{
    display:none;
}

.page-dashboard #plan .fc-event-vert .fc-event-time
{
    display:none;
}

.page-dashboard #plan .fc-event-title small
{
    clear:both;
    display:block;
}

.page-dashboard #plan .field-name-field-class-name .read-only span,
.page-dashboard #plan .class-name span {
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 3px solid #555555;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    margin: -3px 10px 0 0;
    vertical-align: top;
}

.page-dashboard #schedule .class,
.page-dashboard #plan .class
{
    border: 3px solid #555555;
    color:#555555;
}

.page-dashboard #schedule .class0,
.page-dashboard #plan .class0
{
    background-color:#FF1100;
}

.page-dashboard #schedule .class1,
.page-dashboard #plan .class1
{
    background-color:#FF9900;
}

.page-dashboard #schedule .class2,
.page-dashboard #plan .class2
{
    background-color:#FFDD00;
}

.page-dashboard #schedule .class3,
.page-dashboard #plan .class3
{
    background-color:#BBEE00;
}

.page-dashboard #schedule .class4,
.page-dashboard #plan .class4
{
    background-color:#33DD00;
}

.page-dashboard #schedule .class5,
.page-dashboard #plan .class5
{
    background-color:#009999;
}

.page-dashboard #schedule .class6,
.page-dashboard #plan .class6
{
    background-color:#1133AA;
}

.page-dashboard #schedule .class7,
.page-dashboard #plan .class7
{
    background-color:#6611AA;
}

.page-dashboard #schedule .class8,
.page-dashboard #plan .class8
{
    background-color:#BB0088;
}

.page-dashboard #plan .row .mobile-only
{
    display:none;
}

.page-dashboard #plan .buy-links {
    clear: both;
    margin-bottom: -100px;
    margin-right: 0;
    position: relative;
    text-align: right;
    top: -80px;
    float: right;
}

.page-dashboard #plan .mobile-only
{
    display:none;
}

.page-dashboard #plan .row.done .field-name-field-assignment,
.page-dashboard #plan .row.done .field-name-field-class-name,
.page-dashboard #plan .row.done .field-name-field-percent,
.page-dashboard #plan .row.done .field-name-field-completed
{
    text-decoration: line-through;
}

.page-dashboard #plan .field-name-field-assignment,
.page-dashboard #plan .field-name-field-class-name,
.page-dashboard #plan .field-name-field-percent,
.page-dashboard #plan .field-name-field-completed
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    padding: 5px 0;
    vertical-align: top;
    margin:0;
    cursor: pointer;
}

.page-dashboard #plan .sort-by
{
    vertical-align: top;
    display: inline;
}

.page-dashboard #plan .sort-by input
{
    visibility: hidden;
    margin: 0;
}

.page-dashboard #plan .sort-by label
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-dashboard #plan .sort-by label:not(:first-child)
{
    background: url('images/menu_icons_128.png') no-repeat -54px -2848px transparent;
    padding-left: 25px;
    display:inline-block;
    margin-left:-12px;
}

.page-dashboard #plan .sort-by input:checked + label:not(:last-child)
{
    background-position: -54px -2734px;
}

.page-dashboard #plan .sort-by label:first-child
{
    display:inline;
    float:left;
}

.page-dashboard #plan .sort-by label:last-child
{
    float:right !important;
    padding-left: 25px;
    background: url('images/menu_icons_128.png') no-repeat -54px -2848px transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-dashboard #plan .sort-by input:checked + label:last-child
{
    background-position: -54px -2734px;
}

.page-dashboard #plan .head
{
    background-color: #555555;
    color: #eeeeee;
    margin-top: 30px;
    padding: 5px;
    clear: both;
}

.page-dashboard #plan .field-name-field-class-name
{
    min-width: 250px;
    position: absolute;
    width: 25%;
    box-sizing: border-box;
    top:0;
    padding-left:35px;

}

.page-dashboard #plan .field-name-field-assignment
{
    width: 100%;
    padding:5px 25% 5px 25%;
    box-sizing: border-box;
}

.page-dashboard #plan .field-name-field-percent
{
    min-width: 150px;
    width: 15%;
    position: absolute;
    right:10%;
    left:auto;
    box-sizing: border-box;
    top:0;
}

.page-dashboard #plan .field-name-field-completed
{
    text-align: right;
    min-width: 50px;
    width:10%;
    position: absolute;
    right:0;
    left:auto;
    box-sizing: border-box;
    top:0;
}

.page-dashboard #plan .field-name-field-completed input[type="checkbox"]
{
    position: relative;
    z-index: 1;
    margin-left: 10px;
    visibility: hidden;
}

.page-dashboard #plan .field-name-field-completed label
{
    display: inline-block;
    position: relative;
    z-index: 10;
    background: url('images/menu_icons_128.png') no-repeat -54px -2853px transparent;
    font-size: 28px;
    min-width: 24px;
    cursor: pointer;
}

.page-dashboard #plan .field-name-field-completed input[type="checkbox"]:checked + label
{
    background-position: -54px -2739px;
}

@media all and (max-width:980px)
{

    .page-dashboard #plan .selected .mini-checkin
    {
        left: 100%;
        margin-left:-200px;
    }

    .page-dashboard #plan .pane-content > h2
    {
        margin-bottom: 0;
    }

    .page-dashboard #plan .full-only
    {
        display:none;
    }

    .page-dashboard #plan .mobile-only
    {
        display:block;
        clear:both;
    }

    .page-dashboard #plan .row
    {
        font-size: 14px;
        clear: both;
        display: block;
        text-align: left;
    }

    .page-dashboard #plan .row .full-only
    {
        display:none;
    }

    .page-dashboard #plan .row .mobile-only
    {
        display:inline;
    }

    .page-dashboard #plan .row .class-name
    {
        width:33%;
    }

    .page-dashboard #plan .row .class-date
    {
        width:33%;
    }

    .page-dashboard #plan .row .class-time
    {
        width:30%;
    }
}

@media all and (max-width:759px)
{

    .page-dashboard #plan .selected .mini-checkin
    {
        left: 100%;
        margin-left:-200px;
    }

    .page-dashboard #plan .strategy-upload
    {
        width:80%;
    }

    .page-dashboard #plan .field-select-strategy select
    {
        float:none;
    }

    .page-dashboard #plan .strategy-teach,
    .page-dashboard #plan .strategy-active,
    .page-dashboard #plan .strategy-spaced,
    .page-dashboard #plan .strategy-other-notes
    {
        clear:both;
        padding-right: 0;
    }

    .page-dashboard #plan .selected .mini-checkin
    {
        display:inline-block;
        position: static;
        margin-left: 0;
        left: 0;
    }

}


