
.page-dashboard #plan .pane-content > h2
{
    margin-bottom:-28px;
}

.page-dashboard #plan.bill_step_2_only .buy-plan .highlighted-link > a,
.page-dashboard #plan.bill-my-parents-only .buy-plan .highlighted-link > a
{
    display:none;
}

.page-dashboard #plan .bill_step_2
{
    display:none;
}

.page-dashboard #plan.bill_step_2_only .bill_step_2
{
    display: block;
}

.page-dashboard #plan .buy-plan .bill-my-parents
{
    display:none;
}

.page-dashboard #plan.bill-my-parents-only .buy-plan .bill-my-parents
{
    display:block;
}

.page-dashboard #plan .buy-plan
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    bottom:0;
    right:0;
    overflow: hidden;
}

.page-dashboard #plan #calendar
{
    max-height:500px;
    margin-bottom:20px;
}

.page-dashboard #plan .fc-event
{
    border:none;
    background-color: #eeeeee;
}

.page-dashboard #plan .fc-event-title
{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.page-dashboard #plan .fc-event-title h4
{
    margin:0;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}

.page-dashboard #plan .fc-agenda-axis
{
    line-height: 13px;
}

.page-dashboard #plan .fc-agenda-slots td div
{
    height:10px;
    line-height: 10px;
}

.page-dashboard #plan .class-event,
.page-dashboard #plan .other-event
{
    border: 3px solid #555555;
}

.page-dashboard #plan .holiday-event,
.page-dashboard #plan .free-event,
.page-dashboard #plan .other-event
{
    color:#ffffff;
    background-color: #555555;
}

.page-dashboard #plan .other-event
{
    background-color: #000000;
}

.page-dashboard #plan .drag-event
{
    background-color:#EEEEEE;
}

.page-dashboard #plan .fc-event-title small
{
    display:none;
}

.page-dashboard #plan .row
{
    clear: both;
    display: block;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
}

.page-dashboard #plan .row > *
{
    white-space: nowrap;
    vertical-align: top;
}

.page-dashboard #plan .row.deadline
{
    background: url('images/menu_icons_32.png') no-repeat left -1314px transparent;
}

.page-dashboard #plan .head.hide,
.page-dashboard #plan .row.hide
{
    display:none;
}

.page-dashboard #plan .row .class-name
{
    display: inline-block;
    width: 275px;
    padding: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 22px;
    vertical-align: top;
}

.page-dashboard #plan .row .class-date
{
    white-space: nowrap;
    display:inline-block;
    width: 175px;
    padding: 5px 0;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.page-dashboard #plan .row .class-time
{
    white-space: nowrap;
    display:inline-block;
    width: 175px;
    padding: 5px 0;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.page-dashboard #plan .mini-checkin .flip-clock-wrapper
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: auto;
}

.page-dashboard #plan .mini-checkin
{
    float:right;
    text-align: center;
    display:none;
}

.page-dashboard #plan .selected .mini-checkin
{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: 235px;
    width:165px;
}

.page-dashboard #plan .return-to-top
{
    display: block;
    position: fixed;
    left: 100%;
    margin-left: -250px;
    width: 100px;
    background: url(images/arrow-up.png) no-repeat 0 0 transparent;
    bottom: 50px;
    text-align: center;
    padding-top: 14px;
    z-index: 9999;
    padding-bottom: 6px;
    color: #ffffff;
}

.page-dashboard #plan .flip-clock-wrapper ul li a div div.inn
{
    font-size: 30px;
}

.page-dashboard #plan .flip-clock-wrapper ul
{
    height: 40px;
    width: 25px;
    line-height: 40px;
    margin: 2px;
}

.page-dashboard #plan .flip-clock-divider
{
    height: 50px;
    width: 15px;
}

.page-dashboard #plan .flip-clock-dot.bottom,
.page-dashboard #plan .flip-clock-dot.top
{
    left:2px;
}

.page-dashboard #plan .strategy-prework,
.page-dashboard #plan .strategy-teach,
.page-dashboard #plan .strategy-active,
.page-dashboard #plan .strategy-spaced,
.page-dashboard #plan .strategy-other,
.page-dashboard #plan .field-select-strategy
{
    margin:0 auto;
    max-width: 800px;
    display:none;
    padding-right: 165px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: normal !important;
}

.page-dashboard #plan .selected .strategy-other
{
    display:block;
}

.page-dashboard #plan .selected .field-select-strategy > div
{
    border-bottom:3px solid #555555;
    padding-bottom: 10px;
}

.page-dashboard #plan .selected .field-select-strategy
{
    display:block;
    margin-top:30px;
}

.page-dashboard #plan .row.selected .highlighted-link
{
    display:block;
    text-align: right;
}

.page-dashboard #plan .strategy-teach iframe,
.page-dashboard #plan .plupload
{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    vertical-align: top;
    padding:10px;
    position: relative;
    border-radius: 5px;
    border:3px solid #555555;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page-dashboard #plan a[href="#expand"]
{
    float:left;
    display:block;
    padding-left:40px;
    height:32px;
    line-height: 30px;
    margin:10px 0;
    background: url(images/menu_icons_32.png) no-repeat 0 -1344px transparent;
}

.page-dashboard #plan .row.expanded a[href="#expand"]
{
    background: url(images/menu_icons_32.png) no-repeat 0 -1376px transparent;
}

.page-dashboard #plan .row.expanded .strategy-prework,
.page-dashboard #plan .row.expanded .strategy-teach,
.page-dashboard #plan .row.expanded .strategy-active,
.page-dashboard #plan .row.expanded .strategy-spaced,
.page-dashboard #plan .row.expanded .strategy-other
{
    max-width: none;
}

.page-dashboard #plan .row textarea
{
    min-height: 150px;
}

.page-dashboard #plan .row.expanded textarea
{
    min-height: 250px;
}

.page-dashboard #plan .selected.expanded .mini-checkin
{
    left:auto;
    right:0;
    margin-left:0;
}

.page-dashboard #plan .plupload .plup-filelist
{
    border-top:0;
}

.page-dashboard #plan .plupload .plup-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;

}

.page-dashboard #plan .plupload .plup-list li
{
    display:none;
    padding:0;
    margin:0;
    border:0;
}

.page-dashboard #plan .plupload .plup-list li:last-child
{
    display:block;
}

.page-dashboard #plan .plupload .plup-thumb-wrapper
{
    text-align: center;
}

.page-dashboard #plan .plupload .plup-thumb-wrapper img
{
    margin:0 auto;
}

.page-dashboard #plan .plupload .plup-select
{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    left:0;
    line-height: 0;
    color:transparent;
    font-size: 0;
}

.page-dashboard #plan .plupload.uploaded .plup-select
{
    height:40px;
}

body.page-dashboard.file-drag  #plan .plupload .plup-filelist
{
    z-index: 2000;
}

.page-dashboard #plan .plupload .plup-remove-file,
.page-dashboard #plan .plupload .plup-remove-item
{
    z-index: 100;
}

.page-dashboard #plan .plupload .drag-main
{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    padding:0;
    margin-top:-10px;
    color:#333333;
    text-shadow: 0 1px 4px rgba(255,255,255,1);
    text-align: center;
}

.page-dashboard #plan .plupload .drag-more,
.page-dashboard #plan .plupload .plup-filelist-size,
.page-dashboard #plan .plupload .plup-filelist-message,
.page-dashboard #plan .plupload .plup-filelist-remove,
.page-dashboard #plan .plupload .plup-select div
{
    display:none;
}

.page-dashboard #plan .plupload .plup-bar .plup-upload
{
    display:none !important;
}

.page-dashboard #plan .plupload .plupload,
.page-dashboard #plan .plupload .plupload-container
{
    min-height:200px;
}

.page-dashboard #plan .plupload .plup-filelist-file
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.page-dashboard #plan .plupload .plup-filelist,
.page-dashboard #plan .plupload .plupload.html5
{
    height: 100% !important;
    width: 100% !important;
    top:0 !important;
    left:0 !important;
    position:absolute !important;
    background:none;
    max-height: none !important;
}

.page-dashboard #plan .plupload.uploaded .plup-filelist,
.page-dashboard #plan .plupload.uploaded .plupload.html5
{
    height: 40px !important;
}

.page-dashboard #plan .strategy-spaced-notes textarea,
.page-dashboard #plan .strategy-notes textarea
{
    min-height:100px;
}

.page-dashboard #plan .strategy-notes input
{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page-dashboard #plan .strategy-notes
{
    display: inline-block;
    width: 66%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: top;
}

.page-dashboard #plan .strategy-spaced-notes
{
    display: inline-block;
    width: 66%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: top;
}

.page-dashboard #plan .strategy-review
{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: top;
}

.page-dashboard #plan .strategy-spaced-notes label:first-child,
.page-dashboard #plan .strategy-review label:first-child
{
    font-size: 20px;
    margin-top:20px;
    margin-bottom:10px;
    color: #555555;
    text-align: left;
}

.page-dashboard #plan .strategy-review input[type="checkbox"]
{
    position: relative;
    z-index: 1;
    margin-left: 10px;
    visibility: hidden;
}

.page-dashboard #plan .strategy-prework input
{
    visibility: hidden;
    margin: 0 0 0 -13px;
}

.page-dashboard #plan .strategy-prework label,
.page-dashboard #plan .strategy-review label:not(:first-child)
{
    display: inline;
    position: relative;
    z-index: 10;
    padding-left: 25px;
    background: url('images/menu_icons_128.png') no-repeat -54px -2848px transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.page-dashboard #plan .strategy-prework label
{
    margin-left:-30px;
}

.page-dashboard #plan .strategy-prework input:checked + label,
.page-dashboard #plan .strategy-review input:checked + label
{
    background-position: -54px -2734px;
}

.page-dashboard #plan a[href="#strategy-upload"] span
{
    display:block;
    position: absolute;
    top:25px;
    margin-top:-12px;
    text-align: center;
    width: 100%;
    margin-left:-10px;
}

.page-dashboard #plan .plupload .drag-main
{
    top:15px;
}

.page-dashboard #plan .plupload:hover .drag-main
{
    color:#02CEE8;
}

.page-dashboard #plan .field-select-strategy label
{
    display:inline;
    font-size: 20px;
}

.page-dashboard #plan .field-select-strategy select
{
    float:right;
}

.page-dashboard #plan .fc-agenda-slots tr.fc-minor th,
.page-dashboard #plan .fc-agenda-slots tr.fc-minor td
{
    border-top-style: none;
}

.page-dashboard #plan .fc-event-vert .fc-event-bg
{
    display:none;
}

.page-dashboard #plan .fc-event-vert .fc-event-time
{
    display:none;
}

.page-dashboard #plan .ui-resizable-handle
{
    display: none !important;
}

.page-dashboard #plan .field-name-field-class-name span,
.page-dashboard #plan .class-name span {
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 3px solid #555555;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    margin: -3px 0 0 -35px;
    vertical-align: top;
    float:left;
}

.page-dashboard #plan .class .class,
.page-dashboard #plan .class-event.fc-event
{
    border: 3px solid #555555;
    color:#FFFFFF;
    background: #000000;
}

.page-dashboard #plan .cidf .class
{
    background: #555555;
}

.page-dashboard #plan .class0.fc-event,
.page-dashboard #plan .class0 .class
{
    background-color:#FF1100;
}

.page-dashboard #plan .class1.fc-event,
.page-dashboard #plan .class1 .class
{
    background-color:#FF9900;
}

.page-dashboard #plan .class2.fc-event,
.page-dashboard #plan .class2 .class
{
    background-color:#FFDD00;
}

.page-dashboard #plan .class3.fc-event,
.page-dashboard #plan .class3 .class
{
    background-color:#BBEE00;
}

.page-dashboard #plan .class4.fc-event,
.page-dashboard #plan .class4 .class
{
    background-color:#33DD00;
}

.page-dashboard #plan .class5.fc-event,
.page-dashboard #plan .class5 .class
{
    background-color:#009999;
}

.page-dashboard #plan .class6.fc-event,
.page-dashboard #plan .class6 .class
{
    background-color:#1133AA;
}

.page-dashboard #plan .class7.fc-event,
.page-dashboard #plan .class7 .class
{
    background-color:#6611AA;
}

.page-dashboard #plan .class8.fc-event,
.page-dashboard #plan .class8 .class
{
    background-color:#BB0088;
}

.page-dashboard #plan .row .mobile-only
{
    display:none;
}

.page-dashboard #plan .buy-links {
    clear: both;
    margin-bottom: -100px;
    margin-right: 0;
    position: relative;
    text-align: right;
    top: -80px;
    float: right;
}

.page-dashboard #plan .mobile-only
{
    display:none;
}

.page-dashboard #plan .row.done .field-name-field-assignment,
.page-dashboard #plan .row.done .field-name-field-class-name,
.page-dashboard #plan .row.done .field-name-field-percent,
.page-dashboard #plan .row.done .field-name-field-completed
{
    text-decoration: line-through;
}

.page-dashboard #plan .field-name-field-assignment,
.page-dashboard #plan .field-name-field-class-name,
.page-dashboard #plan .field-name-field-percent,
.page-dashboard #plan .field-name-field-completed
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    padding: 5px 0;
    vertical-align: top;
    margin:0;
    cursor: pointer;
}

.page-dashboard #plan .sort-by
{
    vertical-align: top;
    display: inline;
}

.page-dashboard #plan .sort-by input
{
    visibility: hidden;
    margin: 0 0 0 -13px;
}

.page-dashboard #plan .sort-by label
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-dashboard #plan .sort-by label:not(:first-child)
{
    background: url('images/menu_icons_128.png') no-repeat -54px -2848px transparent;
    padding-left: 25px;
    display:inline-block;
    cursor: pointer;
}

.page-dashboard #plan .sort-by input:checked + label:not(:last-child)
{
    background-position: -54px -2734px;
}

.page-dashboard #plan .sort-by label:first-child
{
    display:inline;
    float:left;
}

.page-dashboard #plan .sort-by label:last-child
{
    float:right !important;
    padding-left: 25px;
    background: url('images/menu_icons_128.png') no-repeat -54px -2848px transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-dashboard #plan .sort-by input:checked + label:last-child
{
    background-position: -54px -2734px;
}

.page-dashboard #plan .head
{
    background-color: #555555;
    color: #eeeeee;
    margin-top: 30px;
    padding: 5px;
    clear: both;
}

.page-dashboard #plan .row .field-name-field-class-name
{
    position: absolute;
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    top:0;
    padding-left:70px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page-dashboard #plan .row .field-name-field-class-name .read-only
{
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.page-dashboard #plan .field-name-field-assignment
{
    width: 100%;
    padding:5px 25% 5px 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page-dashboard #plan .field-name-field-percent
{
    min-width: 150px;
    width: 15%;
    position: absolute;
    right:10%;
    left:auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    top:0;
}

.page-dashboard #plan .field-name-field-completed
{
    text-align: right;
    min-width: 50px;
    width:10%;
    position: absolute;
    right:0;
    left:auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    top:0;
}

.page-dashboard #plan .field-name-field-completed input[type="checkbox"]
{
    margin: 0 0 0 -13px;
    visibility: hidden;
}

.page-dashboard #plan .field-name-field-completed label
{
    display: inline-block;
    position: relative;
    z-index: 10;
    background: url('images/menu_icons_128.png') no-repeat 50% -2853px transparent;
    font-size: 28px;
    min-width: 24px;
    cursor: pointer;
}

.page-dashboard #plan .field-name-field-completed input[type="checkbox"]:checked + label
{
    background-position: 50% -2739px;
}

@media all and (max-width:980px)
{

    .page-dashboard #plan .selected .mini-checkin
    {
        left: 100%;
        margin-left:-200px;
    }

    .page-dashboard #plan .pane-content > h2
    {
        margin-bottom: 0;
    }

    .page-dashboard #plan .full-only
    {
        display:none;
    }

    .page-dashboard #plan .mobile-only
    {
        display:block;
        clear:both;
    }

    .page-dashboard #plan .row
    {
        font-size: 14px;
        clear: both;
        display: block;
        text-align: left;
    }

    .page-dashboard #plan .row .full-only
    {
        display:none;
    }

    .page-dashboard #plan .row .mobile-only
    {
        display:inline;
    }

    .page-dashboard #plan .row .class-name
    {
        width:33%;
    }

    .page-dashboard #plan .row .class-date
    {
        width:33%;
    }

    .page-dashboard #plan .row .class-time
    {
        width:30%;
    }
}

@media all and (max-width:759px)
{

    .page-dashboard #plan .selected .mini-checkin
    {
        left: 100%;
        margin-left:-165px;
    }

    .page-dashboard #plan .plupload
    {
        width:80%;
    }

    .page-dashboard #plan .field-select-strategy select
    {
        float:none;
    }

    .page-dashboard #plan .field-select-strategy,
    .page-dashboard #plan .strategy-prework,
    .page-dashboard #plan .strategy-teach,
    .page-dashboard #plan .strategy-active,
    .page-dashboard #plan .strategy-spaced,
    .page-dashboard #plan .strategy-other
    {
        clear:both;
        padding-right: 0;
    }

    .page-dashboard #plan .selected .mini-checkin
    {
        display: block;
        position: static;
        margin-left: auto;
        left: 0;
        text-align: center;
        float: none;
        margin-right: auto;
    }

    .page-dashboard #plan .return-to-top
    {
        left: 50%;
        margin-left:-50px;
        bottom:20px;
    }

    .page-dashboard #plan .sort-by label:last-child
    {
        float:none !important;
        clear:both;
        display:block;
    }
}


