
.page-dashboard #premium h2
{
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
    background: rgba(0,0,0,.85);
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: 8%;
}

.page-dashboard #premium .highlighted-link
{
    text-align: center;
    width: 353px;
    margin-left: 8%;
    margin-bottom: 50px;
}

.page-dashboard #premium h2 span
{
    font-size: 60px;
    vertical-align: middle;
    color: #0089BE;
    display: block;
    margin: 15px 0;
}

.page-dashboard #premium li,
.page-dashboard #premium ol
{
    list-style: none;
    padding:0;
    margin:0;
    vertical-align: top;
}

.page-dashboard #premium ol
{
    margin: 0 auto;
}

.page-dashboard #premium li
{
    width:32%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:30px;
    position:relative;
    min-height: 300px;
}

.page-dashboard #premium li h3
{
    margin-top: 0px;
    text-align: center;
    font-size: 24px;
}

.page-dashboard #premium li p:last-child
{
    margin-bottom: 0;
}

.page-dashboard #premium li .highlighted-link
{
    text-align: right;
}

.page-dashboard #premium .pane-content
{
    overflow: hidden;
}

.page-dashboard #premium li:before
{
    content: "";
    display:block;
    position:absolute;
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    z-index: 0;
    border-radius: 10px;
    background: url(images/noise_gray.png) repeat 0 0 #EEEEEE;
    opacity: .75;
}

.page-dashboard #premium li > *
{
    z-index: 1;
    position:relative;
}

.page-dashboard #premium li:nth-child(2):before
{
    background: url(images/noise_white.png) repeat 0 0 #FFFFFF;
}

.page-dashboard #premium li strong
{
    font-size: 40px;
    text-align: center;
    display: block;
    line-height: 50px;
    margin: 20px auto;
    border: 5px solid #555555;
    border-radius: 100%;
    width: 20px;
    color: #FF9900;
    background-color: #555555;
    padding: 5px 20px;
    height: 50px;
}


.page-dashboard #premium .img-wrapper
{
    border: 0 solid transparent;
    display: block;
    overflow: hidden;
    margin: 0 auto 0 auto;
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 58%;
    min-height: 380px;
    max-width: none;
}

.page-dashboard #premium .img-wrapper img
{
    width: 100%;
    bottom: 0;
    position: absolute;
    top: auto;
    min-height: 100%;
    margin-bottom: -10%;
}

.page-dashboard #premium .img-wrapper ~ *
{
    position:relative;
    z-index: 1;
}

@media all and (max-width: 980px)
{
    .page-dashboard #premium h2
    {
        font-size:24px;
    }

    .page-dashboard #premium .highlighted-link
    {
        width: 277px;
        margin-bottom:80px;
    }

    .page-dashboard #premium li
    {
        padding:5px;
        display:block;
        width:auto;
        min-height: 0;
        margin:40px 0;
    }

    .page-dashboard #premium li:before
    {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .page-dashboard #premium ol
    {
        margin-top:100px;
    }

    .page-dashboard #premium .img-wrapper
    {
        bottom:75%;
        top:0;
        min-height: 300px;
    }

    .page-dashboard #premium .img-wrapper img
    {
        margin-bottom:0;
    }
}





