
#profile h1
{
    font-size: 72px;
    color: #FF9900;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-dashboard #profile.bill_step_2_only .buy-plan .highlighted-link > a,
.page-dashboard #profile.bill-my-parents-only .buy-plan .highlighted-link > a
{
    display:none;
}

.page-dashboard #profile .bill_step_2
{
    display:none;
}

.page-dashboard #profile.bill_step_2_only .bill_step_2
{
    display: block;
}

.page-dashboard #profile .buy-plan .bill-my-parents
{
    display:none;
}

.page-dashboard #profile.bill-my-parents-only .buy-plan .bill-my-parents
{
    display:block;
}

.page-dashboard #profile .buy-plan
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    bottom:0;
    right:0;
    background: url(images/profile_background.jpg) no-repeat 50% 50% #FFFFFF;
    background-size: cover;
}

.page-dashboard h3:last-child
{
    display:none;
}

.page-path-customization2 #page
{
    position:relative;
}

.page-path-customization2 h3:last-child
{
    position:absolute;
    bottom:0;
}

.field-name-field-university,
.field-name-field-grades,
.field-name-field-weekends,
.field-name-field-time-preference,
.field-name-field-6-am-11-am,
.field-name-field-11-am-4-pm,
.field-name-field-4-pm-9-pm,
.field-name-field-9-pm-2-am
{
    margin-bottom: 10px;
}

.field-name-type-of-studying label.option,
.field-name-difficulty-level label.option,
.field-name-field-time-preference label.option,
.field-name-field-weekends label.option,
.field-name-field-grades label.option,
.field-name-field-profile-question-study-much label.option,
.field-name-field-profile-question-education label.option,
.field-name-field-profile-question-mindset label.option,
.field-name-field-profile-question-time-management label.option,
.field-name-field-profile-question-devices label.option
{
    background: url('images/menu_icons_128.png') no-repeat -54px -2853px transparent;
    padding: 0 0 0 25px;
    margin: 0 0 0 0;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    text-align: left;
    position: relative;
    z-index: 1;
    min-width: 30px;
    box-sizing: border-box;
}

.field-name-field-time-preference label.option
{
    padding: 0 15px 0 25px;
    max-width: 16.66%;
    margin:0 -2px;
}

.field-name-field-profile-question-study-much label.option,
.field-name-field-profile-question-education label.option,
.field-name-field-profile-question-devices label.option,
.field-name-field-profile-question-time-management label.option,
.field-name-field-profile-question-mindset label.option
{
    display: block;
    margin-left: 50px !important;
    font-size: 24px;
    font-weight: normal;
    margin-top: 10px !important;
}

.field-name-type-of-studying input:checked + label.option,
.field-name-difficulty-level input:checked + label.option,
.field-name-field-time-preference input.form-radio:checked + label,
.field-name-field-weekends input.form-radio:checked + label,
.field-name-field-grades input.form-radio:checked + label,
.field-name-field-profile-question-study-much input:checked + label,
.field-name-field-profile-question-education input:checked + label,
.field-name-field-profile-question-devices input:checked + label,
.field-name-field-profile-question-mindset input:checked + label,
.field-name-field-profile-question-time-management input:checked + label
{
    background-position: -54px -2739px;
    opacity: 1 !important;
    z-index: 2;
}

.field-name-field-weekends,
.field-name-field-grades
{
    vertical-align: top;
}

.field-name-field-weekends .form-type-radio,
.field-name-field-grades .form-type-radio
{
    display:inline-block;
}

.field-name-field-time-preference .field-type-list-integer
{
    clear:both;
}

.field-name-field-time-preference .field-type-list-integer > label
{
    display:inline;
}

.field-name-field-time-preference .form-radios
{
    float: right;
    clear: both;
    display:inline-block;
}

.field-name-field-weekends .form-type-radio label,
.field-name-field-grades .form-type-radio label
{
    background-color:#EEEEEE;
    padding:5px;
    margin:3px 20px 2px 0;
    display:inline-block;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    width:150px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition:padding .25s, margin .25s;
    z-index: 1;
}

.field-name-field-weekends .form-type-radio label:before,
.field-name-field-grades .form-type-radio label:before
{
    content:" ";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: -8px;
    border: 3px solid #999999;
    padding:5px;
    border-radius: 8px;
    transition:padding .25s, margin .25s, opacity .25s;
    z-index: -1;
    opacity: 0;
}

.field-name-field-weekends .form-type-radio input.form-radio:checked + label,
.field-name-field-grades .form-type-radio input.form-radio:checked + label
{
    background: none repeat scroll 0 0 #CCCCCC;
    display: inline-block;
    opacity: 1 !important;
    padding: 10px;
    margin:-2px 15px -3px -20px;
    transition:padding .25s, margin .25s;
}

.field-name-field-weekends .form-type-radio input.form-radio:checked + label:before,
.field-name-field-grades .form-type-radio input.form-radio:checked + label:before
{
    margin: -3px;
    padding:0px;
    opacity: 1;
    transition:padding .25s, margin .25s, opacity .25s;
}

.field-name-type-of-studying input,
.field-name-difficulty-level input,
.field-name-field-time-preference input,
.field-name-field-weekends input,
.field-name-field-grades input,
.field-name-field-profile-question-study-much input,
.field-name-field-profile-question-education input,
.field-name-field-profile-question-devices input,
.field-name-field-profile-question-mindset input,
.field-name-field-profile-question-time-management input
{
    visibility:hidden;
    margin: 0 0 0 -13px;
}

.class-profile .row
{
    clear:both;
    margin-bottom:10px;
}

.class-profile .row > *
{
    display:inline-block;
}

.class-profile .field-name-type-of-studying > label,
.class-profile .field-name-difficulty-level > label
{
    width: 20%;
    display:inline-block;
    text-align: center;
}

.class-profile .field-name-type-of-studying > label:first-of-type,
.class-profile .field-name-difficulty-level > label:first-of-type
{
    margin-left: 38%;
}

.class-profile .form-radios
{
    width:60%;
}

.class-profile .field-name-field-class-name
{
    width:38%;
}

.class-profile > .field-name-difficulty-level:not(:nth-of-type(2)) label,
.class-profile > .field-name-type-of-studying:not(:first-of-type) label
{
    width:30%;
    display:inline-block;
    position: relative;
    text-align: center;
}

.field-name-type-of-studying label.option,
.field-name-difficulty-level label.option
{
    width:30%;
    background-position: 50% -2854px;
    color:transparent;
    vertical-align: top;
}

.field-name-type-of-studying input:checked + label.option,
.field-name-difficulty-level input:checked + label.option
{
    background-position: 50% -2740px;
}

.page-path-customization hr,
.page-path-customization2 hr,
.page-path-profile2 hr,
.page-path-profile hr
{
    display:none;
}

.page-path-customization2 .field-name-field-class-name span,
.page-path-profile .field-name-field-class-name span {
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 3px solid #555555;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    margin: -3px 10px 0 0;
    vertical-align: top;
}

.page-path-profile .class
{
    border: 3px solid #555555;
    color:#555555;
}

.page-path-customization2 .class0,
.page-path-profile .class0
{
    background-color:#FF1100;
}

.page-path-customization2 .class1,
.page-path-profile .class1
{
    background-color:#FF9900;
}

.page-path-customization2 .class2,
.page-path-profile .class2
{
    background-color:#FFDD00;
}

.page-path-customization2 .class3,
.page-path-profile .class3
{
    background-color:#BBEE00;
}

.page-path-customization2 .class4,
.page-path-profile .class4
{
    background-color:#33DD00;
}

.page-path-customization2 .class5,
.page-path-profile .class5
{
    background-color:#009999;
}

.page-path-customization2 .class6,
.page-path-profile .class6
{
    background-color:#1133AA;
}

.page-path-customization2 .class7,
.page-path-profile .class7
{
    background-color:#6611AA;
}

.page-path-customization2 .class8,
.page-path-profile .class8
{
    background-color:#BB0088;
}

.study-preferences,
.field-name-field-profile-question-education,
.field-name-field-profile-question-devices,
.field-name-field-profile-question-mindset,
.field-name-field-profile-question-study-much,
.field-name-field-profile-question-time-management,
.class-profile
{
    display:none;
}

.page-dashboard #profile .study-preferences,
.page-dashboard #profile .field-name-field-profile-question-study-much,
.page-dashboard #profile .field-name-field-profile-question-education,
.page-dashboard #profile .field-name-field-profile-question-mindset,
.page-dashboard #profile .field-name-field-profile-question-time-management,
.page-dashboard #profile .field-name-field-profile-question-devices,
.page-dashboard #profile .class-profile
{
    display:block;
    min-height: 0;
    clear:both;
}

.field-name-type-of-studying,
.field-name-difficulty-level,
.field-name-field-grades,
.field-name-field-weekends,
.field-name-field-time-preference,
.field-name-field-profile-question-study-much,
.field-name-field-profile-question-education,
.field-name-field-profile-question-mindset,
.field-name-field-profile-question-time-management,
.field-name-field-profile-question-devices
{
    max-width: 700px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 10px;
    padding-top: 20px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    padding-bottom: 60px;
    margin-bottom: 30px;
}

.page-path-customization .study-preferences,
.page-path-profile .field-name-field-profile-question-mindset,
.page-path-customization2 .class-profile
{
    display:block;
}

.class-profile h2 span,
.study-preferences h2 span,
.field-name-field-profile-question-study-much h2 span,
.field-name-field-profile-question-education h2 span,
.field-name-field-profile-question-mindset h2 span,
.field-name-field-profile-question-time-management h2 span,
.field-name-field-profile-question-devices h2 span
{
    float:right;
    color:#0099BE;
}

.field-name-type-of-studying h2,
.field-name-difficulty-level h2,
.field-name-field-grades h2,
.field-name-field-weekends h2,
.field-name-field-time-preference h2,
.field-name-field-profile-question-study-much h2,
.field-name-field-profile-question-education h2,
.field-name-field-profile-question-mindset h2,
.field-name-field-profile-question-time-management h2,
.field-name-field-profile-question-devices h2
{
    font-weight: bold !important;
    color:#555555 !important;
    margin:30px 0 !important;
}

.field-name-field-profile-question-study-much h2 span,
.field-name-field-profile-question-education h2 span,
.field-name-field-profile-question-mindset h2 span,
.field-name-field-profile-question-time-management h2 span,
.field-name-field-profile-question-devices h2 span
{
    position:absolute;
    top:10px;
    right:10px;
}

.class-profile .row .mobile-only
{
    display:none;
}

@media all and (max-width: 760px)
{

    .class-profile .field-name-field-class-name
    {
        white-space: nowrap;
    }

    .class-profile > .field-name-difficulty-level,
    .class-profile > .field-name-type-of-studying
    {
        display: none;
    }

    .field-name-type-of-studying label.option, .field-name-difficulty-level label.option
    {
        color:inherit;
        display: block;
    }

    .class-profile .row .field-name-type-of-studying,
    .class-profile .row .field-name-difficulty-level
    {
        width: auto;
        display: block;
    }

    .field-name-type-of-studying label.option, .field-name-difficulty-level label.option
    {
        background-position: -54px -2854px;
        width:auto;
    }

    .field-name-type-of-studying input:checked + label.option, .field-name-difficulty-level input:checked + label.option
    {
        background-position: -54px -2740px;
    }

    .class-profile .row .mobile-only
    {
        display:block;
    }

    .field-name-field-profile-question-study-much label.option,
    .field-name-field-profile-question-education label.option,
    .field-name-field-profile-question-devices label.option,
    .field-name-field-profile-question-time-management label.option,
    .field-name-field-profile-question-mindset label.option
    {
        margin-left:10px !important;
        font-size: 20px;
    }

    .field-name-field-profile-question-study-much,
    .field-name-field-profile-question-education,
    .field-name-field-profile-question-mindset,
    .field-name-field-profile-question-time-management,
    .field-name-field-profile-question-devices
    {
        padding:5px;
    }

}

@media all and (max-width: 760px)
{
    .field-name-field-weekends, .field-name-field-grades
    {
        width: auto;
        display: block;
    }

    .field-name-field-weekends label.option,
    .field-name-field-grades label.option
    {
        display: block;
        width: auto;
        max-width: none;
    }
}

