a,
h1, h2, h3, h4, h5, h6,
#sidebar .more-link a,
.breadcrumb a, .breadcrumb .breadcrumb-separator,
.team-member-title,
.view-promoted-posts h2 a:hover,
.view-showcases .views-field-title a:hover,
.view-showcases .views-field-field-subtitle, 
.node-mt-showcase .field-name-field-subtitle,
.team-member-email a,
#comments ul.links li a,
ul.menu li.expanded > a, ul.menu li a.active { color: #508200; }

.poll .bar .foreground { background:#508200; }

.block #twtr-widget-1 .twtr-tweet a { color: #6bbe00 !important; }

ul.social-bookmarks li a:hover { border:2px solid #6bbe00; }

.flex-control-nav li a.active { background: #6bbe00; }

.flex-control-nav li a:hover {
-moz-box-shadow: inset 0px 0px 4px 1px #6bbe00;
-o-box-shadow: inset 0px 0px 4px 1px #6bbe00;
-webkit-box-shadow: inset 0px 0px 4px 1px #6bbe00;
box-shadow: inset 0px 0px 4px 1px #6bbe00; }

a:hover { color:#6bbe00; }

#header-top #block-search-form input.form-text:focus { border-color:#7ee802; }

#header-wrapper { background: #94ea02; border-top: 1px solid #a5e535;
background-image: -moz-radial-gradient(50% 250px, circle farthest-corner, #94ea02, #508200 100%);
background-image: -webkit-radial-gradient(50% 250px, circle farthest-corner, #94ea02, #508200 100%);
background-image: -o-radial-gradient(50% 250px, circle farthest-corner, #94ea02, #508200 100%);
background-image: -ms-radial-gradient(50% 250px, circle farthest-corner, #94ea02, #508200 100%);
background-image: radial-gradient(50% 250px, circle farthest-corner, #94ea02, #508200 100%); }

.more-link a, a.more, div.links ul li a, ul.links li a, input[type="submit"], input[type="reset"], input[type="button"] {
text-shadow: 0px 1px 1px #465c28; filter: dropshadow(color=#465c28, offx=0, offy=1); color: #ffffff;
background: #538a00;
background-image: -ms-linear-gradient(top, #538a00 0%, #3c7400 100%);
background-image: -moz-linear-gradient(top, #538a00 0%, #3c7400 100%);
background-image: -o-linear-gradient(top, #538a00 0%, #3c7400 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #538a00), color-stop(1, #3c7400));
background-image: -webkit-linear-gradient(top, #538a00 0%, #3c7400 100%);
background-image: linear-gradient(top, #538a00 0%, #3c7400 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#538a00', endColorstr='#3c7400');
-moz-box-shadow: inset 1px 1px 2px 0 #6cc001; -o-box-shadow: inset 1px 1px 2px 0 #6cc001; -webkit-box-shadow: inset 1px 1px 2px 0 #6cc001; box-shadow: inset 1px 1px 2px 0 #6cc001; }

.more-link a:hover, a.more:hover, div.links ul li a:hover, ul.links li a:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
background: #3c7400;
background-image: -ms-linear-gradient(top, #3c7400 0%, #538a00 100%);
background-image: -moz-linear-gradient(top, #3c7400 0%, #538a00 100%);
background-image: -o-linear-gradient(top, #3c7400 0%, #538a00 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c7400), color-stop(1, #538a00));
background-image: -webkit-linear-gradient(top, #3c7400 0%, #538a00 100%);
background-image: linear-gradient(top, #3c7400 0%, #538a00 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c7400', endColorstr='#538a00'); }

.more-link a:active, a.more:active, div.links ul li a:active, ul.links li a:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
-moz-box-shadow: inset 1px 1px 2px 0 #465b30; 
-o-box-shadow: inset 1px 1px 2px 0 #465b30; 
-webkit-box-shadow: inset 1px 1px 2px 0 #465b30; 
box-shadow: inset 1px 1px 2px 0 #465b30; }

.highlighted-link a.more { text-shadow: 0px 1px 1px #74d801; filter: dropshadow(color=#74d801, offx=0, offy=1);
-moz-box-shadow: inset 1px 1px 2px 0 #77d801; -o-box-shadow: inset 1px 1px 2px 0 #77d801; -webkit-box-shadow: inset 1px 1px 2px 0 #77d801; box-shadow: inset 1px 1px 2px 0 #77d801;
background: #6cc100; 
background-image: -ms-linear-gradient(top, #6cc100 0%, #5ab700 100%); 
background-image: -moz-linear-gradient(top, #6cc100 0%, #5ab700 100%);
background-image: -o-linear-gradient(top, #6cc100 0%, #5ab700 100%); 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6cc100), color-stop(1, #5ab700)); 
background-image: -webkit-linear-gradient(top, #6cc100 0%, #5ab700 100%); 
background-image: linear-gradient(top, #6cc100 0%, #5ab700 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cc100', endColorstr='#5ab700'); }

.highlighted-link a.more:hover {
-moz-box-shadow: inset 3px 3px 5px 0 #77d801; -o-box-shadow: inset 3px 3px 5px 0 #77d801; -webkit-box-shadow: inset 3px 3px 5px 0 #77d801; box-shadow: inset 3px 3px 5px 0 #77d801;
background: #5ab700;
background-image: -ms-linear-gradient(top, #5ab700 0%, #6cc100 100%);
background-image: -moz-linear-gradient(top, #5ab700 0%, #6cc100 100%);
background-image: -o-linear-gradient(top, #5ab700 0%, #6cc100 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5ab700), color-stop(1, #6cc100));
background-image: -webkit-linear-gradient(top, #5ab700 0%, #6cc100 100%);
background-image: linear-gradient(top, #5ab700 0%, #6cc100 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ab700', endColorstr='#6cc100'); }

ul.menu li.expanded { background-image: url("images/green/menu-expanded.png"); }

ul.company-info li.home { background: url('images/green/company-home.png') no-repeat left; }

ul.company-info li.phone { background: url('images/green/company-phone.png') no-repeat left; }

ul.company-info li.email { background: url('images/green/company-email.png') no-repeat left; }

.team-member-email { background: url("images/green/email.png") no-repeat scroll left center transparent; }