a,
h1, h2, h3, h4, h5, h6,
#sidebar .more-link a,
.breadcrumb a, .breadcrumb .breadcrumb-separator,
.team-member-title,
.view-promoted-posts h2 a:hover,
.view-showcases .views-field-title a:hover,
.view-showcases .views-field-field-subtitle, 
.node-mt-showcase .field-name-field-subtitle,
.team-member-email a,
#comments ul.links li a,
ul.menu li.expanded > a, ul.menu li a.active { color: #b2a473; }

.poll .bar .foreground { background:#b2a473; }

.block #twtr-widget-1 .twtr-tweet a { color: #b2a473 !important; }

.flex-control-nav li a.active { background: #b2a473; }

.flex-control-nav li a:hover {
-moz-box-shadow: inset 0px 0px 4px 1px #b2a473;
-o-box-shadow: inset 0px 0px 4px 1px #b2a473;
-webkit-box-shadow: inset 0px 0px 4px 1px #b2a473;
box-shadow: inset 0px 0px 4px 1px #b2a473; }

ul.social-bookmarks li a:hover { border:2px solid #b2a473; }

a:hover { color:#b2a473; }

#header-top #block-search-form input.form-text:focus { border-color:#b2a473; }

#header-wrapper { background: #f2f0b4; border-top: 1px solid #ece9bb;
background-image: -moz-radial-gradient(50% 250px, circle farthest-corner, #f2f0b4, #a29260 100%);
background-image: -webkit-radial-gradient(50% 250px, circle farthest-corner, #f2f0b4, #a29260 100%);
background-image: -o-radial-gradient(50% 250px, circle farthest-corner, #f2f0b4, #a29260 100%);
background-image: -ms-radial-gradient(50% 250px, circle farthest-corner, #f2f0b4, #a29260 100%);
background-image: radial-gradient(50% 250px, circle farthest-corner, #f2f0b4, #a29260 100%); }

.more-link a, a.more, div.links ul li a, ul.links li a, input[type="submit"], input[type="reset"], input[type="button"] {
text-shadow: 0px 1px 1px #646050; filter: dropshadow(color=#646050, offx=0, offy=1); color: #ffffff;
background: #b2a472;
background-image: -ms-linear-gradient(top, #b2a472 0%, #a99a63 100%);
background-image: -moz-linear-gradient(top, #b2a472 0%, #a99a63 100%);
background-image: -o-linear-gradient(top, #b2a472 0%, #a99a63 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b2a472), color-stop(1, #a99a63));
background-image: -webkit-linear-gradient(top, #b2a472 0%, #a99a63 100%);
background-image: linear-gradient(top, #b2a472 0%, #a99a63 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2a472', endColorstr='#a99a63');
-moz-box-shadow: inset 1px 1px 2px 0 #d5ce97; -o-box-shadow: inset 1px 1px 2px 0 #d5ce97; -webkit-box-shadow: inset 1px 1px 2px 0 #d5ce97; box-shadow: inset 1px 1px 2px 0 #d5ce97; }

.more-link a:hover, a.more:hover, div.links ul li a:hover, ul.links li a:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
background: #a99a63;
background-image: -ms-linear-gradient(top, #a99a63 0%, #b2a472 100%);
background-image: -moz-linear-gradient(top, #a99a63 0%, #b2a472 100%);
background-image: -o-linear-gradient(top, #a99a63 0%, #b2a472 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a99a63), color-stop(1, #b2a472));
background-image: -webkit-linear-gradient(top, #a99a63 0%, #b2a472 100%);
background-image: linear-gradient(top, #a99a63 0%, #b2a472 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a99a63', endColorstr='#b2a472'); }

.more-link a:active, a.more:active, div.links ul li a:active, ul.links li a:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
-moz-box-shadow: inset 1px 1px 2px 0 #6f6955; 
-o-box-shadow: inset 1px 1px 2px 0 #6f6955; 
-webkit-box-shadow: inset 1px 1px 2px 0 #6f6955; 
box-shadow: inset 1px 1px 2px 0 #6f6955; }

.highlighted-link a.more { text-shadow: 0px 1px 1px #d4cc94; filter: dropshadow(color=#d4cc94, offx=0, offy=1);
-moz-box-shadow: inset 1px 1px 2px 0 #d5ce97; -o-box-shadow: inset 1px 1px 2px 0 #d5ce97; -webkit-box-shadow: inset 1px 1px 2px 0 #d5ce97; box-shadow: inset 1px 1px 2px 0 #d5ce97;
background: #b2a472; 
background-image: -ms-linear-gradient(top, #b2a472 0%, #a99a63 100%); 
background-image: -moz-linear-gradient(top, #b2a472 0%, #a99a63 100%);
background-image: -o-linear-gradient(top, #b2a472 0%, #a99a63 100%); 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b2a472), color-stop(1, #a99a63)); 
background-image: -webkit-linear-gradient(top, #b2a472 0%, #a99a63 100%); 
background-image: linear-gradient(top, #b2a472 0%, #a99a63 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2a472', endColorstr='#a99a63'); }

.highlighted-link a.more:hover {
-moz-box-shadow: inset 3px 3px 5px 0 #d5ce97; -o-box-shadow: inset 3px 3px 5px 0 #d5ce97; -webkit-box-shadow: inset 3px 3px 5px 0 #d5ce97; box-shadow: inset 3px 3px 5px 0 #d5ce97;
background: #a99a63;
background-image: -ms-linear-gradient(top, #a99a63 0%, #b2a472 100%);
background-image: -moz-linear-gradient(top, #a99a63 0%, #b2a472 100%);
background-image: -o-linear-gradient(top, #a99a63 0%, #b2a472 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a99a63), color-stop(1, #b2a472));
background-image: -webkit-linear-gradient(top, #a99a63 0%, #b2a472 100%);
background-image: linear-gradient(top, #a99a63 0%, #b2a472 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a99a63', endColorstr='#b2a472'); }

ul.menu li.expanded { background-image: url("images/cream/menu-expanded.png"); }

ul.company-info li.home { background: url('images/cream/company-home.png') no-repeat left; }

ul.company-info li.phone { background: url('images/cream/company-phone.png') no-repeat left; }

ul.company-info li.email { background: url('images/cream/company-email.png') no-repeat left; }

.team-member-email { background: url("images/cream/email.png") no-repeat scroll left center transparent; }