a,
h1, h2, h3, h4, h5, h6,
#sidebar .more-link a,
.breadcrumb a, .breadcrumb .breadcrumb-separator,
.team-member-title, 
.view-promoted-posts h2 a:hover,
.view-showcases .views-field-title a:hover,
.view-showcases .views-field-field-subtitle, 
.node-mt-showcase .field-name-field-subtitle,
.team-member-email a,
#comments ul.links li a,
ul.menu li.expanded > a, ul.menu li a.active { color: #d01e25; }

.poll .bar .foreground { background:#d01e25; }

.block #twtr-widget-1 .twtr-tweet a { color: #d01e25 !important; }

ul.social-bookmarks li a:hover { border:2px solid #d01e25; }

.flex-control-nav li a.active { background: #d01e25; }

.flex-control-nav li a:hover {
-moz-box-shadow: inset 0px 0px 4px 1px #d01e25;
-o-box-shadow: inset 0px 0px 4px 1px #d01e25;
-webkit-box-shadow: inset 0px 0px 4px 1px #d01e25;
box-shadow: inset 0px 0px 4px 1px #d01e25; }

a:hover { color:#d01e25; }

#header-top #block-search-form input.form-text:focus { border-color:#ed1c24; }

#header-wrapper { background: #f93b49; border-top: 1px solid #fd7883;
background-image: -moz-radial-gradient(50% 250px, circle farthest-corner, #f93b49, #d01e25 100%);
background-image: -webkit-radial-gradient(50% 250px, circle farthest-corner, #f93b49, #d01e25 100%);
background-image: -o-radial-gradient(50% 250px, circle farthest-corner, #f93b49, #d01e25 100%);
background-image: -ms-radial-gradient(50% 250px, circle farthest-corner, #f93b49, #d01e25 100%);
background-image: radial-gradient(50% 250px, circle farthest-corner, #f93b49, #d01e25 100%); }

.more-link a, a.more, div.links ul li a, ul.links li a, input[type="submit"], input[type="reset"], input[type="button"] {
text-shadow: 0px 1px 1px #7d2d30; filter: dropshadow(color=#7d2d30, offx=0, offy=1); color: #ffffff;
background: #dd252d;
background-image: -ms-linear-gradient(top, #dd252d 0%, #cb040c 100%);
background-image: -moz-linear-gradient(top, #dd252d 0%, #cb040c 100%);
background-image: -o-linear-gradient(top, #dd252d 0%, #cb040c 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dd252d), color-stop(1, #cb040c));
background-image: -webkit-linear-gradient(top, #dd252d 0%, #cb040c 100%);
background-image: linear-gradient(top, #dd252d 0%, #cb040c 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd252d', endColorstr='#cb040c');
-moz-box-shadow: inset 1px 1px 2px 0 #eb333a; -o-box-shadow: inset 1px 1px 2px 0 #eb333a; -webkit-box-shadow: inset 1px 1px 2px 0 #eb333a; box-shadow: inset 1px 1px 2px 0 #eb333a; }

.more-link a:hover, a.more:hover, div.links ul li a:hover, ul.links li a:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
background: #cb040c;
background-image: -ms-linear-gradient(top, #cb040c 0%, #dd252d 100%);
background-image: -moz-linear-gradient(top, #cb040c 0%, #dd252d 100%);
background-image: -o-linear-gradient(top, #cb040c 0%, #dd252d 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cb040c), color-stop(1, #dd252d));
background-image: -webkit-linear-gradient(top, #cb040c 0%, #dd252d 100%);
background-image: linear-gradient(top, #cb040c 0%, #dd252d 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb040c', endColorstr='#dd252d'); }

.more-link a:active, a.more:active, div.links ul li a:active, ul.links li a:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
-moz-box-shadow: inset 1px 1px 2px 0 #7b3134; 
-o-box-shadow: inset 1px 1px 2px 0 #7b3134; 
-webkit-box-shadow: inset 1px 1px 2px 0 #7b3134; 
box-shadow: inset 1px 1px 2px 0 #7b3134; }

.highlighted-link a.more { text-shadow: 0px 1px 1px #e9262e; filter: dropshadow(color=#02c2df, offx=0, offy=1);
-moz-box-shadow: inset 1px 1px 2px 0 #eb333a; -o-box-shadow: inset 1px 1px 2px 0 #eb333a; -webkit-box-shadow: inset 1px 1px 2px 0 #eb333a; box-shadow: inset 1px 1px 2px 0 #eb333a;
background: #dd252d; 
background-image: -ms-linear-gradient(top, #dd252d 0%, #cb040c 100%); 
background-image: -moz-linear-gradient(top, #dd252d 0%, #cb040c 100%);
background-image: -o-linear-gradient(top, #dd252d 0%, #cb040c 100%); 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dd252d), color-stop(1, #cb040c)); 
background-image: -webkit-linear-gradient(top, #dd252d 0%, #cb040c 100%); 
background-image: linear-gradient(top, #dd252d 0%, #cb040c 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd252d', endColorstr='#cb040c'); }

.highlighted-link a.more:hover {
-moz-box-shadow: inset 3px 3px 5px 0 #eb333a; -o-box-shadow: inset 3px 3px 5px 0 #eb333a; -webkit-box-shadow: inset 3px 3px 5px 0 #eb333a; box-shadow: inset 3px 3px 5px 0 #eb333a;
background: #cb040c;
background-image: -ms-linear-gradient(top, #cb040c 0%, #dd252d 100%);
background-image: -moz-linear-gradient(top, #cb040c 0%, #dd252d 100%);
background-image: -o-linear-gradient(top, #cb040c 0%, #dd252d 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cb040c), color-stop(1, #dd252d));
background-image: -webkit-linear-gradient(top, #cb040c 0%, #dd252d 100%);
background-image: linear-gradient(top, #cb040c 0%, #dd252d 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb040c', endColorstr='#dd252d'); }

ul.menu li.expanded { background-image: url("images/red/menu-expanded.png"); }

ul.company-info li.home { background: url('images/red/company-home.png') no-repeat left; }

ul.company-info li.phone { background: url('images/red/company-phone.png') no-repeat left; }

ul.company-info li.email { background: url('images/red/company-email.png') no-repeat left; }

.team-member-email { background: url("images/red/email.png") no-repeat scroll left center transparent; }