
.page-dashboard #tips-strategy .grid_6,
.page-dashboard #tips-env .grid_6,
.page-dashboard #tips-time .grid_6,
.page-dashboard #tips .grid_6
{
    clear:right;
    width:49%;
    box-sizing: border-box;
    margin:0;
    padding:0 30px
}
